[2018-03-10 09:37] PetrusVermaak opened #2 "Firefox - This Addon could not be installed because it has not been verified."
Firefox 58.0.2 (64-bit)
Windows 10 Pro, build 1709 16299.125

Tried to install ghostery-firefox-v8.1.0.xpi from github.

[2018-03-10 15:31] creesch commented on #2
You do need to get it either from AMO if it is signed or use the firefox developer version which allows unsigned extensions to be installed.

[2018-03-11 12:08] chrmod commented on #2
With Firefox Developer Edition or Nightly you need to enable unsigned addons with `xpinstall.signatures.required` preference set to `false` in `about:config` page. You can also use Mozilla's `web-ext` https://github.com/mozilla/web-ext project to uninstall it as a temporal addon.

@trickpattyFH20 maybe we should also add signed addon to github release download list?

[2018-03-12 00:48] xor-freenet opened #3 "Don't dump 375 files with 68000 lines of code without Git commit history"
See e5f9ef76829f74a77ea4c7e0d810e6432185d8a6.

Proper documentation is worth at least half of the quality of a codebase.
Erasing the Git history means arbitrarily ripping out half of the documentation.

How is anyone supposed to work upon that codebase if they can't figure out why it is the way it is?

It's a shame that this seems to have become the standard for "we're open sourcing this proprieta

[2018-03-12 06:48] trickpattyFH20 commented on #2
closing this issue for now. reach out on [gitter](https://gitter.im/ghostery/ghostery-extension) for any further questions on how to install a dev extension in FF

[2018-03-12 06:48] #2 closed

[2018-03-12 12:49] cori commented on #3
https://twitter.com/kerrizor/status/972663493227823105

[2018-03-14 10:22] Natureshadow opened #6 "Please do not discriminate against contributing minors"
Hi,

citing from your code of conduct:

Please consider children and adolescents a socially marginalised group. By hosting the code exclusively on GitHub, all contributors under the age of 13 years are excluded, and under most jurisdictions, people under the age of 18 have a major legal hassle contributing that can be reduced to a minimum.

Therefore, in accordance with your code of conduct, pleas

[2018-03-14 10:25] Natureshadow opened #7 "Please sign release tarball"
First of all, thanks for making Ghostery open source.

I am considering maintaining Ghostery in the Debian distribution. For that, it would be a big help if you provided a PGP-signed source tarball. You cann add a signature file for the source tarball to the release on GitHub.

Thanks!

[2018-03-14 14:26] trickpattyFH20 commented on #7
👍 great. will include a signed tarball in an upcoming release @Natureshadow

[2018-03-15 16:07] christophertino commented on #3
I agree with what you’re saying.  For us though, open sourcing presented a few complex challenges. Our old repo was tied into several projects, and we had private info in there like our Chrome, Firefox, and Edge build keys, AWS keys for our internals tools, etc.  Admittedly, these were things that never should have been in the working tree but had snuck in over the years. Also for copyright reason

[2018-03-15 16:35] christophertino commented on #6
It’s an interesting point.  We can set up an email distribution and accept patches via email.  I can add that to CONTRIBUTING.

[2018-03-15 16:38] Natureshadow commented on #6
Hi Christopher,

That would be a very welcom (first) step ☺!

-nik

[2018-03-16 15:00] dmckenna24 commented on #6
Good idea, Nik! As a young and naive contributor myself, it is nice for more experienced people to recognize this important idea. I also believe that labeling various issues that are good for novices will be a useful tool to including more people. :)

[2018-03-16 15:59] trickpattyFH20 commented on #6
@dmckenna24 issues of that nature will be labeled "good first issue". first time contributors can filter by "is:open label:"good first issue"

[2018-03-25 23:47] dmgerman opened #11 "100% CPU utilization"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

when visiting some sites, ghostery uses 100% CPU

chrome will report that ghostery has been killed. the web page being visited remains as-is.

### Expected Behavior

use CPU for some time, then stop using it.

### Actual Behavior

uses 100% CPU

### Steps to Reproduce

using chrome visit:

[2018-03-26 14:50] maverick74 opened #12 "Performance improvements"
This is not exactly a bug, but something i believe worth working on.

I understand that comparing addons is not exactly your intentions, but the fact is that users will do so even if you don't want them to.

I've been using ublock origin a few years already. After the switch to Ghostery i immediately noticed it slowed down my browser.
Now, the tech behind Ghostery is attractive (AI and so on), but

[2018-03-26 19:59] christophertino commented on #11
I can reproduce this.  I'm showing 9000+ error logs in the Ghostery background console when loading http://fivethirtyeight.com/.

[2018-03-27 13:45] SuperUserNameMan opened #13 "the word "Explorer" is briefly displayed on blank pages on Firefox"
Hi,

### Description

When Ghostery plugin is activated under Firefox 59.0.x, the word "Explorer" is briefly displayed on online blank pages during refresh and also during javascript redirections.

I've noticed this bahavior on my WIP website, but also on random sites on the internet. (only online pages are affected. HTML page created on the desktop are not affected)

Note : when you refresh an em

[2018-03-27 13:47] SuperUserNameMan commented on #13
forgot to mention my locale is French

[2018-03-27 13:54] SuperUserNameMan commented on #13
ok, after looking into the code repository, the word "Explorer" is only mentionned here : https://github.com/ghostery/ghostery-extension/blob/e5f9ef76829f74a77ea4c7e0d810e6432185d8a6/_locales/fr/messages.json#L202

so, it must be caused by a lag between the displaying of the ghostery HTML code and the interpretation of the CSS code by Firefox ...

so according to your language you'll see something

[2018-03-27 14:04] christophertino commented on #13
Interesting.  That's coming from the purple box counter.  If you disable purple box (Settings > Purple Box), does it go away?

Looks like the "looking" text is displaying before the box fully renders.

https://github.com/ghostery/ghostery-extension/blob/e5f9ef76829f74a77ea4c7e0d810e6432185d8a6/app/content-scripts/purplebox.js#L483

[2018-03-27 14:38] SuperUserNameMan commented on #13
@christophertino : yep, when purple box is disabled, it goes away.

[2018-03-27 18:50] christophertino commented on #11
@dmgerman It looks like there's a Nielsen tracker on that page that goes into an infinite loop when blocked.  If you unblock 'NetRatings SiteCensus' in Ghostery, does Chrome perform normally?

We've had issues with other trackers from Nielsen causing similar lockups.

[2018-03-27 21:01] dmgerman commented on #11
Yes, disabling "Netratings SiteCensus" solves the issue.

On Tue, Mar 27, 2018 at 11:50 AM, Christopher Tino <notifications@github.com

--
--dmg

---
Daniel M. German
http://turingmachine.org

[2018-03-28 14:45] christophertino commented on #11
Ok thanks.  We are working on a surrogate solution for this tracker.

[2018-03-28 16:26] zarembsky commented on #11
The fix will be in the next (8.1.1) release.

[2018-03-28 17:33] christophertino commented on #12
It's a fair point and it's something we are aware of.  The comparisons are a bit tricky since Ghostery is inherently heavier than some of the competing products you mentioned.  Our ad-blocker module runs the same EasyList filters as other extensions, and on top of that we’re pattern checking against the Ghostery tracker list and running our heuristic anti-tracking.  For all that overhead we feel G

[2018-03-29 08:06] michaldybczak opened #17 "Conflicts with https everywhere"
### Description

I got notification about extension error on google chrome. I went to extension page and I saw this error message (translated roughly from my native language):

_Extension didn't redirect web call to https://domain.com/ads.html because other extension (HTTPS Everywhere) redirected it to https://www.domain.com/ads.html._

Here is the screen:
![screenshot_20180329_100255](https://use

[2018-03-30 08:57] googleanalyticsresoneo opened #19 "Blocks Google AdWords remarketing even when to configured to allow every tracker"
### Description

I use Ghostery to detect and list installed trackers, not to block them. Thus it is configured to accept every tracker.
But I notice an error in the Google Chrome console saying "net::ERR_BLOCKED_BY_CLIENT" which is typical of a network request being blocked by an Ad blocker

https://googleads.g.doubleclick.net/pagead/viewthroughconversion/866289170/?random=1522398994693&cv=9&fst=

[2018-03-30 14:34] trickpattyFH20 commented on #19
@googleanalyticsresoneo in the screenshot you shared it looks like Ad-Blocking is enabled. Can you try disabling it by clicking on the purple stop sign in the Ghostery panel and toggling off, then try that page again?

[2018-03-30 15:32] googleanalyticsresoneo commented on #19
@trickpattyFH20
Pretty confusing double levels of configuration !
Looks better now, but why that message "blocked:0" while 3 other options may fire blocking strategies !

What about enhancing the configuration / options ?

Thanks!

![ghoserty without intelligent blocking 2018-03-30_17-24-03](https://user-images.githubusercontent.com/282461/38143119-5b23bd98-343f-11e8-85a0-ea6c18e5c3b3.png)

[2018-03-30 15:32] #19 closed

[2018-03-30 16:09] trickpattyFH20 commented on #19
@googleanalyticsresoneo
agreed, the enhanced settings are a bit confusing in their current state

there are already some UI changes implemented that we plan to release soon. the changes should make it more clear what's happening with the additional ad-block and anti-tracking settings

[2018-04-02 14:14] maverick74 opened #22 "Allow additional Ad Blocker filters"
Not sure how this would work, but i think it would be good to allow the inclusion of other Filters beside the traditional EasyList.

[2018-04-03 16:24] mathuaerknedam opened #24 "Add limited pause/trust options"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description
The pause button pauses Ghostery, across all pages. It would be nice to have the time-limited pause options for only one site/domain, or even better for only one browser tab.

### Expected Behavior
I expect to be able to pause Ghostery in order to diagnose a problem, complete a purchase, etc

[2018-04-03 18:59] trickpattyFH20 commented on #22
@maverick74 Ghostery actually does not use EasyList. We have documentation on the [tracker db here](https://github.com/ghostery/ghostery-extension/blob/master/databases/README.md) If you would like to integrate EasyList or other filter lists with Ghostery you could create a db following that schema and make a build of Ghostery with the new db

[2018-04-03 20:06] christophertino commented on #22
This would need to be implemented in the [ad blocker](https://github.com/cliqz-oss/adblocker).

@zhonghao-cliqz

[2018-04-03 21:05] maverick74 commented on #22
@trickpattyFH20 But, from what i understand, that would mean i would have "my own Ghostery", since i would have to make a build of it.
(or did i misunderstood your idea?)

My idea was to have this feature in the upstream real Ghostery, allowing users to choose lists they would like to use easily

[2018-04-05 14:25] trickpattyFH20 commented on #17
looking at the the webRequest API docs, it seems like this might not be fixable.
https://developer.chrome.com/extensions/webRequest#implementation

based on this [superuser discussion](https://superuser.com/questions/925524/repeating-chrome-extension-error-failed-to-redirect) It seems like one potential workaround could be to exclude specific domains from HTTPS Everywhere.

does anyone have any ot

[2018-04-05 15:06] ghostwords commented on #17
This sounds like the same issue as https://github.com/EFForg/https-everywhere/issues/14961#issuecomment-378595156.

[2018-04-06 16:19] michaldybczak commented on #17
Yes, it looks like this is the same issue and it was posted 8 days sooner and has more attention so I guess my thread can be closed. There is no need to duplicate topics and it's better to focus on one.

The error message happens rarely (I've seen it twice so far) and it doesn't affect any functionality so it's not a big problem but as stated on the other thread, chrome error messages are raising

[2018-04-06 16:19] #17 closed

[2018-04-10 14:58] christophertino commented on #22
@maverick74 This is definitely something we will consider as we build out features for the Ad Blocker.  Right now it's just an on/off state. You can see the lists we're implementing [here](https://github.com/cliqz-oss/adblocker/tree/master/assets). I agree it would be nice to have some granularity and choice with the filter lists.

[2018-04-11 10:50] maverick74 commented on #22
@christophertino great!

It's not that i want to disable any. In fact, my intention is to be able to enable more lists since i occasionally see one or two ads here and there that are blocked on ublock, for example.

[2018-04-16 21:02] christophertino commented on #24
This happens to me, too. I'll forget to resume until later on when I notice the Ghostery icon is grey.  I suppose the argument against tab-specific pause is that it overlaps with the Trust Site (white-list) feature. It might be interesting to consider a time-limited white-list.

@tillhouse

[2018-04-20 06:19] michaelnordmeyer opened #42 "Safari support"
This code doesn’t have Safari support. Old ghostery versions up to 5.4.11 supported Safari.

Do you have an pointers on how to re-introduce Safari support? Are you interested to get Safari support into this code base at all?

[2018-04-21 05:42] WFransL opened #43 "Ghostery does not keep me logged-in"
Ghostery does not keep me logged-in

I would expect that once logged in to Ghostery on a PC That Ghostery stays logged-in between sessions, Is is not what happens. Every now and then I have to log-in again.

1. Start PC
2. Open Browser
3. Check if Ghostery is logged-in

+ Chrome 66.0.3359.117
+ WIN10
+ Ghostery 8.1.2

[2018-04-22 00:21] lidel opened #44 "Ghostery breaks onBeforeRequest redirects made by other extensions"
### Description

[IPFS Companion](https://github.com/ipfs/ipfs-companion) is a browser extension that enables users to detect content-addressed resources on websites and redirect them to a local IPFS2HTTP gateway (localhost or LAN).

It seems that when Ghostery is enabled and user loads a HTTPS website with content-addressed IPFS resources, Ghostery breaks the gateway redirect by forcing HTTPS eve

[2018-04-23 23:09] lidel commented on #44
Yup, `localhost` and `127.0.0.1` are safe to whitelist (browsers don't even show a mixed-content warning for `127.0.0.1` eg. [Firefox since v55](https://bugzilla.mozilla.org/show_bug.cgi?id=903966)).

[2018-04-24 08:57] michaelnordmeyer commented on #42
There was a closed-source iOS Safari content blocker called Peace created by Marco Arment. It used Ghostery as a backend.

After two successful days on the app store, Marco removed it from the app store with consent from Ghostery (see: https://marco.org/2015/09/18/just-doesnt-feel-good and https://marco.org/2015/09/16/peace-content-blocker). After some time he gave the source code to Ghostery, whi

[2018-04-24 21:30] christophertino commented on #42
I remember the Peace app, that was a crazy couple of days.  To your point, we are currently in the process of building a new Ghostery iOS app using content blockers.  It's based on the Firefox code base.  You can see that code [here](https://github.com/cliqz-oss/cliqz-ios).

The tentative release date for this and a similar Android app is early June. So far we've had success getting the Ghostery t

[2018-04-25 21:32] Aziz-Ghostery commented on #43
Hi There,
We've had dealt with this issue awhile ago, and we frankly thought it was fixed.
We'd appreciate it if you could help us troubleshoot this issue by answering the following questions:
When you are not using your machine, do you choose to:
Log off:
Clock:
Sleep:
Shutdown:
How long do you normally leave your machine in the above state?

Chrome Settings:

Privacy and security ==> Content set

[2018-04-26 04:34] WFransL commented on #43
See my responses

The issue of being logged out is not limited to Chrome. Also in MS-Edge Ghostery is logged-out.

When you are not using your machine, do you choose to:

One system is shutdown- ed when I do not used this system and the system is used daily
Another system is always on (even does not ‘sleep’) and used daily

Chrome Settings:
Allow site to Save & read cookie data (On/Off): On
Keep l

[2018-04-29 19:12] dmckenna24 commented on #24
I agree, I think that this will be great for people who are forgetful and don't want to be whitelisted for an extended period of time.

[2018-05-08 15:05] markofstrathclyde commented on #43
(Firstly : great extension)

But... me too, any thoughts much appreciated.

Ta

Mark

---

Windows 10 build 1709 64-bit Intel-i5  Chrome 66.0.3359.139

When you are not using your machine, do you choose to:
Normally sleep or switch accounts with hibernation happening if left alone for 8 hours +

Chrome Settings:

Privacy and security ==> Content settings ==> Cookies
Allow site to Save & read cooki

[2018-05-30 08:16] jimon commented on #11
I have similar issue with 100% CPU utilization, but it is even more strange - it reproduces even if I just open chrome and look at the start page (aka no pages open).

Chrome Version 67.0.3396.62 (Official Build) (64-bit)
MacOS 10.13.4

Is there a way for me to get more details about where it hangs?

[2018-05-30 11:08] slarty667 commented on #11
I have the same issue as @jimon - simply opening the browser and looking at the empty start page will already shoot up the processor usage to 100%. The Chrome Taskmanager says that it's only this plugin using so much CPU.

Ghostery 8.1.2
Chrome Version 67.0.3396.62 (Official Build) (64-Bit)
MacOS 10.13.4

[2018-05-30 13:16] tliet commented on #11
Same here, Ghostery 8.1.2 shoots up to 100%-130% CPU utilisation (via the Google Chrome Helper) with an empty browser. So, this is probably an issue in this version.

[2018-05-30 13:17] talksinmath commented on #11
Same problem here, Ghostery 8.1.2 and Chrome 67

[2018-05-30 14:15] christophertino commented on #11
I see it too.  Looks like something changed in Chrome 67.  We'll dig into this today.

@jimon You can debug Ghostery at chrome://extensions/ and click the "background page" link under Ghostery.

[2018-05-30 17:02] wilk-polarny commented on #11
Here with Chrome stable 67.0.3396.62. Are you guys mining some crypto currencies, or what?

Anyways, got thousands of the following messages on the console:
`background.js:formatted:4043 Uncaught (in promise) u: module 'adblocker' is disabled
    at Object.isReady (chrome-extension://mlomiejdfkolichcflejclcbmpeaniij/dist/background.js:8:22748)
    at Object.action (chrome-extension://mlomiejdfkoli

[2018-05-30 19:35] jimon commented on #11
Weirdly it seems to be fine on Windows with `Chrome Version 67.0.3396.62 (Official Build) (64-bit)` and 8.1.2 Ghostery.

[2018-05-30 19:55] christophertino commented on #11
Yea we're not seeing it on Linux either.  It seems to be specific to macOS.  We're still trying to find the source.

[2018-05-31 04:26] sjferwerda commented on #11
Also on Mac for the last two days.

[2018-05-31 08:32] skyhoker commented on #3
I think yits time to say good buy because  I don't no how or why you are on my shot with all my file and I don't no who the hell skyhoker is and how they got on my shut to but some one better tell me something.

[2018-05-31 12:52] konqui commented on #43
same here i also always get logged out

[2018-05-31 13:28] mick-t commented on #11
Seeing it on my OSX system. Let me know if there's anything you'd like me to test.

[2018-05-31 13:34] dmzimmerman commented on #11
I have also been seeing this on macOS for the last few days.

[2018-05-31 13:39] konqui opened #86 "Ghostery Blocks the content.js file from JSON Formatter (Chrome Extension)"
### Description

Ghostery Blocks the content.js file from JSON Formatter (Chrome Extension)

### Expected Behavior

A possibility to add scripts from other chrome extensions to a Whitelist.

### Actual Behavior

The Json Formatter Extension is useless since all its functions are in that on content.js file which gets blocked. I think it must be blocked by one of the Entries in the Ad Categorie sinc

[2018-05-31 13:53] dcharkes commented on #11
Same here:

* Ghostery `8.1.2`
* Chrome: `Version 67.0.3396.62 (Official Build) (64-bit)`
* MacOS: `10.13.4`

[2018-05-31 14:06] isdn commented on #11
It seems that the issue might be related to some changes in Chrome v.67 on MacOS.
We have faced it with some our local sites even without ghostery.

[2018-05-31 14:40] christophertino commented on #11
I see a Chromium bug [here](https://bugs.chromium.org/p/chromium/issues/detail?id=848181)

[2018-05-31 15:24] seansfkelley commented on #11
Same here. I disabled (though did not uninstall) all non-Ghostery extensions, then quit and reopened Chrome and confirmed that, even with no tabs open, Ghostery pegs the CPU to 100%.

- macOS 10.13.3
- Chrome 67.0.3396.62 (stable channel, I believe)
- Ghostery 8.1.2

My settings are defaults, except that I (1) turned on blocking for everything with
"Block All" and (2) disabled the purple box.

[2018-05-31 15:26] dinvlad commented on #11
Same here, Chrome 67.0.3396.62, MacOS 10.12.6, Ghostery 8.1.2

[2018-05-31 15:46] christophertino commented on #11
We have a [test build](https://github.com/ghostery/ghostery-extension/releases/tag/v8.1.3) going through regression now.  It should be out to the Chrome store this afternoon.

[2018-05-31 19:19] ghostwords commented on #11
@christophertino Where is the code fix for this issue in this repository?

[2018-05-31 20:01] jsignanini commented on #11
@ghostwords for us it was coming from the cliqz browser-core dependency. Unfortunately the German developers are out on national holiday today so we were forced to manually change the node dependency and make a new build with it. So you won’t see the change in the source until they push it to the code on their end and we update said dependency.

And the issue was a synchronous  XMLHttpRequest call

[2018-05-31 20:18] Jstuddard commented on #11
Yup, got it to. MacAir fan has been running for a week and finally decided to look into it and it is Ghostery Extension. Looking forward to the fix. Love your program!

![ghostery](https://user-images.githubusercontent.com/705566/40806029-33add07a-64ee-11e8-977f-6a7f1dda1593.png)

[2018-05-31 21:47] rusmaxham commented on #11
Until Chrome releases a fix for the [synch XMLHttpRequest issue](https://bugs.chromium.org/p/chromium/issues/detail?id=848210) in 67, you can work around it temporarily by downgrading to [Chrome 66](https://www.slimjet.com/chrome/download-chrome.php?file=mac%2Fchrome_66.0.3359.181.dmg).

[2018-06-01 08:47] alfiepoleon commented on #11
@christophertino Can't wait for the fix, made chrome pretty much unusable for the past 3 days or so.
Chrome Version: 67.0.3396.62 (Official Build) beta (64-bit)
macOS Version: 10.13.4 (17E202)
Ghostery version:  8.1.2

<img width="1440" alt="screen shot 2018-06-01 at 11 42 45 am" src="https://user-images.githubusercontent.com/14350051/40831368-7a9ec54a-6591-11e8-8703-211b71bd9563.png">

[2018-06-01 10:53] jsignanini commented on #11
Ghostery for Chrome has been updated to 8.1.3. This hotfix release should fix this extreme CPU utilization issue.

[2018-06-01 10:55] olivergierke commented on #11
Just updated, CPU utilization is back to normal. Thanks for the fast turnaround time, folks! You rock! 👍

[2018-06-01 14:15] Aziz-Ghostery commented on #11
V 8.1.3 is up on Chrome WebStore, please download and confirm the issue is resolved.

[2018-06-01 15:03] sjferwerda commented on #11
Appears to be working, thanks!

On Fri, Jun 1, 2018 at 7:15 AM Aziz-Ghostery <notifications@github.com>
wrote:

[2018-06-01 15:12] seansfkelley commented on #11
Resolved for me as well, thanks all!

[2018-06-06 06:30] Swivelgames commented on #11
My MacBook Pro turned into an F/A-18E/F Super Hornet this evening. To my surprise, Activity Monitor showed Ghostery utilizing 280% of my CPU. I was running version 8.0.0.31beta, which was a bit odd.

After checking the Chrome Web Store, I noticed that the version of Ghostery that I had installed was not actually the same as the version in the Chrome Web Store. I've removed it and reinstalled Ghost

[2018-06-06 07:12] Nappsel opened #89 "Ghostery.com don't send the "submit a tracker"."
For a month I can't send data about a new tracker through the site [ghostery.com](https://www.ghostery.com/submit-a-tracker/). Tell me, how else can i send this data to the ghostery team?

### Versions

+ Browser: Chrome 67
+ OS: Windows 10

[2018-06-06 14:06] jsignanini commented on #11
Hi @Swivelgames. If you had a beta version in Chrome, then you must have joined our "Ghostery Beta for Chrome" Google Group at some point in time, otherwise you would have not been able to install that beta "channel" version of Ghostery. Removing and reinstalling from the production store listing as you mentioned should be all that you have to do.

Thanks for using Ghostery!

[2018-06-06 14:06] #11 closed

[2018-06-06 15:15] #3 closed

[2018-06-06 18:57] rusmaxham commented on #11
Chrome 67.0.3396.79 with the [bugfix](https://bugs.chromium.org/p/chromium/issues/detail?id=848210) is now available: https://chromereleases.googleblog.com/2018/06/stable-channel-update-for-desktop.html

[2018-06-27 14:51] Aziz-Ghostery commented on #89
I'm able to reproduce, server error displayed:
There was an error trying to send your message. Please try again later.

Network console shows:
{into: "#wpcf7-f103-p9-o1", status: "spam",…}
into: "#wpcf7-f103-p9-o1"
message: "There was an error trying to send your message. Please try again later."
status: "spam"

[2018-07-02 19:43] computeronix commented on #43
+1, Edge and Chrome keeps logging me out over time.  For a while I stay logged in, then randomly get logged off.  My other extensions I use keep me logged in all the time.

Windows 10 (every build I have used is affected).

[2018-07-02 20:22] Gregmed opened #118 "Tab For a Cause Extension Blocked"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

The adverts on my Tab For A Cause homepage are blocked from appearing

### Expected Behavior

For the ads to be shown on this page so that I can generate revenue for the company

### Actual Behavior

No adverts appear on the page

### Steps to Reproduce

1. Download the Tab For A Cause chro

[2018-07-03 04:42] oduis commented on #43
Same here. I have several machines, and I thought it saw a correlation there, when I log in to another machine it logs me off on the initial machine.
Could it be that the user data is synced across devices?

[2018-07-03 13:29] webgroupWest commented on #43
Definitely "me, too." I recall the "fix" some time back, but it only remained fixed for a few weeks. It's been logging me out constantly, ever since.

Doesn't seem to matter how I log-out of Windows (usually hibernate, or shut down), and my Chrome settings are as you specify above.

Happens all the time for me on Windows, and my Chromebooks.

FWIW, other extensions that maintain my sign-in (such a

[2018-07-04 19:08] caseyjayner opened #120 "Firefox Blocked Add-on Ghostery vs. 8.2.0"
### Firefox #Block #Ghostery

When I try to click the link to install Ghostery, Firefox blocks the add-on.  It sends me to this site for more information: https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox?as=u&utm_source=inproduct

[2018-07-05 08:10] FrankOnGit opened #121 "German translation issue"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

German translation issue:
The phrase "Navigate to another page and I promise I'll deliver the goods." cannot be directly translated to "Navigieren Sie zu einer anderen Seite und ich verspreche, dass ich liefern werde."

### Expected Behavior

I don't speak English good enough to understand

[2018-07-05 12:38] mgrigni commented on #43
I see this also, is the "do not track" setting relevant?

[2018-07-05 16:10] #6 closed

[2018-07-05 16:10] #44 closed

[2018-07-06 19:33] christophertino commented on #121
This will be in the 8.2.1 release.

[2018-07-06 19:48] christophertino commented on #120
If you're trying to load a build from our GitHub releases, you need to visit [about:debugging](about:debugging) in Firefox, turn on add-on debugging and then Load Temporary Add-on.  This is just for test/debug purposes.  For production Ghostery, you need to install it from the FF [store](https://addons.mozilla.org/en-US/firefox/addon/ghostery/).

[2018-07-06 19:56] christophertino commented on #86
I just tested this against Ghostery 8.2 and it appears to work fine for me.  Do you have a specific JSON url we could test?

[2018-07-06 20:14] christophertino commented on #118
The Tab For a Cause page is loading ~20 third-party tracking scripts.  Blocking these types of scripts is the fundamental value prop of Ghostery.  There's no way we can change that.

What we can do is allow normal Ghostery functionality on extension pages (`chrome-extension://` and `moz-extension://`, plus Edge and Opera equivalents). This way your users can whitelist the new tab page like a regul

[2018-07-06 20:19] christophertino commented on #43
Hey guys, we hear you on the log-out issue.  We have a new v2 API for our user authentication system that @trickpattyFH20 is currently integrating on the [feature/api-v2-auth](https://github.com/ghostery/ghostery-extension/tree/feature/api-v2-auth) branch. It kills the old refresh token logic that caused all this headache.  We're scheduling this for our 8.2.1 release hopefully next week.

[2018-07-12 18:27] aaronadamsTO opened #132 "Ghostery for Chrome unexpectedly blocks content with class="clickable""
### Description

When I open a local file via `file:` protocol, and that file includes an iframe via `https:` protocol, Ghostery unexpectedly inserts a rule into the iframe that suppresses some content - specifically, any element with class "clickable".

### Expected Behavior

Nothing. Ghostery says it only scans http and https pages; I wouldn't expect it to do anything in this case, let alone thi

[2018-07-12 18:40] aaronadamsTO commented on #132
Here's the Gist page: https://gist.github.com/aaronadamsTO/f9206dc5e2e3f2217bbde8fcb92609b0

I didn't realize I could leave some screenshots too, here you go! Proof that I might not be crazy.

![1-https-parent-noissue](https://user-images.githubusercontent.com/1505561/42652754-5f4e886e-85e1-11e8-9ce0-226fef2ebd95.jpg)
![2-local-parent-issue](https://user-images.githubusercontent.com/1505561/426527

[2018-07-13 16:13] Aziz-Ghostery commented on #120
If you'd like to install the extension in Developer mode:
Unpack the extension in a folder
Navigate to: about:debugging#addons
load temporary Add-on then specify the folder above.

[2018-07-13 17:22] jhaenchen opened #135 "BUG: Ghostery doesn't init cliqz properly leading to console statement on every page load"
### Description

I noticed the following warning in my console:

`loading pref showConsoleLogs before prefs were initialised, you will not get the correct result`

This was emitted from the Ghostery extension content-bundle.js file. Upon closer examination that statement is emitted from [here](https://github.com/cliqz-oss/browser-core/blob/master/platforms/webextension/prefs.es#L25) and is emitted

[2018-07-13 17:23] jhaenchen commented on #135
Other users are encountering this issue: https://stackoverflow.com/questions/47988759/loading-pref-showconsolelogs-before-prefs-were-initialised-you-will-not-get-the

[2018-07-16 21:48] Aziz-Ghostery commented on #132
I'm unable to reproduce this issue, please see attached screenshot.
![bug html not scanned](https://user-images.githubusercontent.com/28308149/42785421-6bab6fcc-8920-11e8-95fc-cc5125f87c05.PNG)

[2018-07-17 15:42] Aziz-Ghostery commented on #89
@Nappsel could you please clear your browser cache and try to submit the form again. Thanks

[2018-07-17 19:16] aaronadamsTO commented on #132
Try enabling Enhanced Ad Blocking - it appears to be associated with that feature. When I turn it off, the issue disappears.

I tried to debug a little further, too. First I put a breakpoint on (I think) this line:

https://github.com/cliqz-oss/adblocker/blob/dcf57a26e431d8cd1427c0eddec3cfbfc3a23a96/src/cosmetics-injection.ts#L172

That got me a stack trace:

![ghostery-stack-trace](https://user-i

[2018-07-17 19:55] #118 closed

[2018-07-17 19:55] #121 closed

[2018-07-19 15:23] The009 opened #140 "Ghostery blocking whitlisted trackers."
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description
Firefox 63.0a1 (2018-07-19) (64-bit) Ghostery blocks everything even things on your whitelist

### Expected Behavior
Ghostery to only block trackers that you have selected

### Actual Behavior
Ghostery is blocking all trackers even whitelisted

### Steps to Reproduce

1. Install Firefox Nigh

[2018-07-20 18:39] Aziz-Ghostery commented on #140
It works as expected, and I can't reproduce this issue on Firefox Nightly 63.0a1 (2018-07-20) (64-bit)
(see attached screenshot) not the latest release FF Quantum 61.0.1 (64-bit).
![ff nightly diqus](https://user-images.githubusercontent.com/28308149/43019273-5fe40c96-8c2a-11e8-8109-c3e7410be4dd.PNG)

[2018-07-22 02:48] The009 commented on #140
Pausing works just fine. Every time I seem whitelist a single tracker it remains blocked.

[2018-07-24 19:24] Nappsel commented on #89
@Aziz-Ghostery, still can not send the form. :(

[2018-07-24 21:18] dwaite commented on #42
@christophertino Is that the correct codebase? I didn't see mention of `SFContentBlockerManager` in the code; instead it looks like it is doing script injection by wrapping WebKit.

[2018-07-24 23:53] The009 commented on #140
I tried toggling tracking protection to only in private and also to never and neither worked.

[2018-07-30 05:51] hrasmussendk opened #148 "Ghostery ought to have a "Trust on all sites" button for each tracker."
**Description**
Ghostery ought to have a "Trust on all sites" button for each tracker to prevent blocking the tracker on any site.

**Expected Behavior**
When pressed on one site the tracker should not be restricted ot blocked on any other site. Say I want to trust the Facebook social Like button, I would like to do so on all sites no matter where, to make me able to like a site I come across.

**

[2018-07-31 14:59] r-obert opened #149 "Ghostery blocks braintree javascript SDK from making requests."
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

Ghostery blocks requests made to braintree through its client-side javascript SDK.
This prevents a user from completing the checkout flow with Ghostery enabled.

### Expected Behavior

I expected that Ghostery would not block a request made to Braintree.

### Actual Behavior

Ghostery block

[2018-07-31 17:35] Aziz-Ghostery commented on #148
Hello:
There is a way to trust or restrict a single tracker across all websites, here is how:
Click on Ghostery Icon
Click on Menu then Settings
From Global settings, let say you had everything blocked but you'd like to Trust/unblock "DoubleClick"
Use the search box on the right and type: DoubleClick" then press enter
The tracker will be displayed un-check box to unblock it/trust it
All settings o

[2018-07-31 17:51] christophertino commented on #42
@dwaite yes, that is the working repository for the new Ghostery iOS browser.  Our devs came up with a way to use the Content Blocker but still allow users to see the Ghostery tracker list, which is of course our major feature.  If you'd like more info feel free to open an issue on that repo and they'll be happy to help.  We're also looking for Test Flight testers if you're interested.

cc: @naira

[2018-07-31 17:52] christophertino commented on #135
@chrmod Any ideas on this?

[2018-07-31 17:58] christophertino commented on #148
@hrasmussendk This is something we've been aware of for some time.  Our current "allow" option is really a pass-through where the request can still get picked up by anti-tracking or ad-blocking.  We need essentially 3 states:  block, no-state, allow.  It's kind of confusing from a UI perspective, but our UX team has been kicking around some ideas.

Our 8.4 release roadmap has a reworked tracker li

[2018-07-31 18:08] christophertino commented on #140
@The009 I believe he was referring to the Anti-Tracking feature in Ghostery, not FF tracking protection.  This is the blue shield icon at the bottom left of Ghostery. If you disable that, it should work.

You could also try the site-specific allow feature, if you hover over the tracker block icon and select  "Trust on this Site".  That should allow the tracker to bypass our Anti Tracking module.

[2018-08-01 04:56] The009 commented on #140
@christophertino Thank you! I was mistaken and did do the wrong thing and this is the same issue.

@Aziz-Ghostery  Thank you for your help as well. Yes this is the issue you mentioned.

[2018-08-01 13:49] #120 closed

[2018-08-01 13:50] #140 closed

[2018-08-02 13:34] naira-cliqz commented on #42
@dwaite SFContentBlockerManager is for MacOS, for iOS content blocker works based on WKContentRuleList, which we use. Added UserScripts are for another reason, not for contentBlocking. New Safari extension with SFContentBlockerManager is coming soon :)

[2018-08-08 22:25] philipp-classen commented on #135
@jhaenchen Thanks for your help. I think, you are right. The main idea to fix it is to always wait for the initialization of the prefs.init(), and if necessary start with a default value until the promise resolves.

Do you still get the error message with the current Ghostery release? If you can show me how to reproduce, I will have a look. I tested on Linux not on Mac, but this should not be OS d

[2018-08-08 23:18] jhaenchen commented on #135
@philipp-classen I can no longer reproduce the issue! Thanks everyone! I'll close if there are no objections.

[2018-08-09 18:55] philipp-classen commented on #149
Can you still reproduce? For me, the paypal button opens without errors.

Ghostery 8.2.3 (with all blocking rules enabled)
Chrome 68.0.3440.106
OS: Linux

[2018-08-10 15:59] christophertino commented on #43
We released v8.2.3 earlier in the week which should resolve the logout issue.  Please give it a test and let us know if you're still getting logged out.

One note: If you have your browser set to clear cookies on close you will be logged out of Ghostery.  In Chrome, the setting "Keep local data only until you quit your browser" should be off. In Firefox, you should have Cookies and Site Data > Kee

[2018-08-10 16:03] philipp-classen commented on #149
@r-obert Your error message mentioned `Response for preflight is invalid (redirect)`. That indicates it was a CORS problem.

We had a bug on that accidentally stripped `origin` headers from requests, which are needed for the CORS protocol. That bug was fixed in the last release. Now we will only modify requests from the extension itself, as it was originally intended.

The fix itself came in the u

[2018-08-10 16:10] #135 closed

[2018-08-10 16:35] #149 closed

[2018-08-10 17:00] philipp-classen commented on #132
Hi Aaron, thanks for your help. Can you still reproduce it with the latest release (8.2.3)?

I can see that there were some changes in the injection logic recently.

[2018-08-10 21:00] aaronadamsTO commented on #132
Unfortunately I'm still able to reproduce in version 8.2.3, under these (admittedly very specific!) circumstances.

[2018-08-10 21:54] philipp-classen commented on #132
Weird. I could reproduce, although I don't understand the pattern:

* In a existing profile with Chrome 68 and Ghostery 8.2.3, I saw both. With a fresh profile, I saw only one.
* In the Cliqz Browser with an existing profile and Ghostery 8.2.1, I saw one. But with a fresh profile, I saw two.

(Tested on Linux. But I don't think it is OS related.)

Maybe it is only triggered by some race. But after

[2018-08-12 02:11] altae7 commented on #43
The issue is fixed? On the contrary, login is completely broken for me (Arch Linux, Firefox). I cannot even login anymore. If I try it tells my login attempt was successful but as soon as I close the Ghostery pop-up and re-open it I'm logged out again.

[2018-08-14 08:30] valodka opened #159 "Can't open link on Mail.ru"
###URL(s) where the issue occurs
https://e.mail.ru/messages/inbox/

##Describe the issue
Open https://e.mail.ru/messages/inbox/
Open any letter with external link.
Click on link in letter.
New window can't open.

###Versions
Browser/version: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36 IP

Ghostery 8.2.3

[2018-08-14 13:58] christophertino commented on #43
Thanks for the heads up @altae7.  It looks like the Firefox implementation of `chrome.cookies.onChanged` is a little wonky.  It was also causing problems on Edge.  #158 should be the answer.

[2018-08-14 20:47] altae7 commented on #43
Thanks. This means we have to wait for a new version to come out, right?

[2018-08-15 13:59] trickpattyFH20 commented on #43
@altae7 yes a fix for this will be out with the next release

[2018-08-15 15:47] Aziz-Ghostery commented on #159
@valodka I just created an account on mail.ru
On Windows 10 and both Chrome V68.0.3440.106 (64-bit), and FF V61.0.2 (64-bit)
Installed Ghostery with all trackers blocked and all products enabled (default)
Opened Ghostery Account verification email and Clicked on every link they all opened without any problems.
![mail ru link click issue](https://user-images.githubusercontent.com/28308149/44157632-

[2018-08-16 13:43] Cinamonas commented on #149
I incorrectly reported it to Braintree: braintree/braintree-web#383

But this is still an issue that I’m experience and can be reproduced here: https://developers.braintreepayments.com/guides/drop-in/overview/javascript/v3#demo

For whatever reason, Ghostery intercepts the request and replaces `braintree-web` with `ghostery`:

![screenshot 2018-08-16 09 33 35](https://user-images.githubusercontent

[2018-08-16 15:41] christophertino commented on #149
Look like it's being removed by Anti-Tracking.

@sammacbeth could you take a look?

[2018-08-17 14:28] philipp-classen commented on #132
There is a adblocker rule that hide the clickable element in the frame. I don't think it is a bug here, but instead intended behavior to prevent clickjacking attacks.

If you follow the network request ...

GET https://htmlpreview.github.io/?https://gist.github.com/aaronadamsTO/f9206dc5e2e3f2217bbde8fcb92609b0/raw/iframe.html

->

GET https://htmlpreview.github.io/htmlpreview.min.js

->

GET https

[2018-08-17 14:36] philipp-classen commented on #132
Forgot to mention. The last test has with the browser-core master version. I also did not notice erratic behavior there but it was more consistent:

When Ghostery was paused (or in Cliqz when the adblocker was disabled), it was shown, otherwise it was hidden.

[2018-08-20 07:03] sammacbeth commented on #149
Looks like another false positive. I've whitelisted this one and am working on improving the detection.

[2018-08-21 21:05] christophertino commented on #43
We found a few more edge-cases contributing to this issue that have now been patched.  We're testing the [release build](https://github.com/ghostery/ghostery-extension/releases/tag/v8.2.4) now.

[2018-08-23 13:35] christophertino commented on #43
@altae7 @mcicconi Ghostery v8.2.4 is now live.  Please let us know if you can now remain signed in.

[2018-08-23 14:45] WFransL commented on #43
Nope, closing EDGE logs me out each and every time.

I have unchecked to delete cookies upon closing in EDGE.

CCleaner leaves EDGE cookies untouched

Chrome works ‘as expected’ and I stay ‘logged-in’.

Frans Lichtenauer

P: +31 487540980

F: +31 878756623

M: +31 653171630

P Please consider the environment before printing this e-mail

From: Christopher Tino <notifications@github.com>
Sent: Thurs

[2018-08-23 15:38] altae7 commented on #43
Negative, still the same. I cannot login at all.

[2018-08-24 14:32] Aziz-Ghostery commented on #43
@altae7 We are working a logout issue for Edge Browser, However V 8.2.4 has the fix for Chrome andFF. Would you please restart your Chrome browser, make sure you are on V 8.2.4 and try sign in again.
Please let us know the outcome, Thanks.

[2018-08-24 15:31] altae7 commented on #43
I don't use chrome, I use Firefox. And login does not work despite the fact that Ghostery 8.2.4 is installed and I've restarted the computer several times in the meantime. It's simply broken.

[2018-08-24 19:36] Aziz-Ghostery commented on #43
@altae7  This might be due to a corrupted cookies.sqlite file in Firefox's profile folder.
In order to fix this, just rename or remove cookie.sqlite while Firefox is not running.
Open a terminal of choice and type the following:
$ rm -f ~/.mozilla/firefox/<profile id>.default/cookies.sqlite
The profile id is a random 8 character string.
Restart Firefox and see if it solved the problem.
If the issu

[2018-08-26 19:35] Lokumskaster commented on #43
Just installed Windows 10 today. Installed Chrome including Ghostery (8.2.4). I have had to log on three times today already.

[2018-08-27 19:59] ludwo commented on #86
e.g.  https://jsonplaceholder.typicode.com/posts
When I pause ghostery plugin, JSON is rendered correctly after page refresh.

[2018-09-03 13:59] r-obert commented on #149
@sammacbeth @christophertino this bug is back, in its original form:
[code]

[2018-09-11 09:20] FrankOnGit opened #186 "iframe not loading for certain url's"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

iframes do not load for certain url's

### Expected Behavior

iframes should all load normally when all trackers are enabled

### Actual Behavior

only when Ghostery is set to pause, all iframes are loaded. If Ghostery is active, the public gmail calenar of alxfyv@gmail.com will not load. T

[2018-09-13 08:31] sammacbeth commented on #186
Hi @FrankOnGit, thanks for reporting.

I was able to reproduce this. I see the following error in the browser console:
[code]

It seems that the calendar is not public, as the embed redirects to a google sign-on page. The error happens because Google does not permit their login to be embedded in an iframe. The root cause is that the Ghostery anti-tracking will block the cookies for the iframes, in

[2018-09-13 12:11] FrankOnGit commented on #186
Hello there
Thank you for your support. Unfortunately I was not able to change my Ghostery settings for trusted websites so I could load my iframes correctly.
Please find a screenshot of my settings as attached image: SettingsNotSuccessful.png
I have found a public calender for you to test using the follwoing code in Tiddlywiki:
<iframe width="550" height="430" src="https://calendar.google.com/cal

[2018-09-14 11:12] chetanbasuray opened #192 "Cannot log into freecharge when ghostery is active."
When trying to log into Freecharge website with ghostery switched on, the website says something went wrong and does not allow a log in, but with Ghostery turned off, the log in is successful.

### Expected Behavior

Log in should be successful with Ghostery turned on.

### Actual Behavior

Log in unsuccessful.

### Steps to Reproduce

1. Go to https://www.freecharge.in/desktop/
2. Try logging in

[2018-09-15 01:30] Storm-Engineer commented on #43
I just noticed this as well. I can't stay logged in either.

@Aziz-Ghostery I tried deleting my cookies.sqlite but it did not fix it.

Arch Linux
Firefox 62.0
Ghostery 8.2.4

[2018-09-16 19:00] tcz commented on #149
This is still happening.
Ghostery for Chrome version 8.2.4

URL: https://api.braintreegateway.com/merchants/....

Returns 307 from Ghostery.
Non-Authoritative-Reason: Delegate

[2018-09-17 11:48] sammacbeth commented on #186
I've just checked this again, and this is fixed in the latest beta version. This should fix your issue once the next version is released.

[2018-09-17 14:33] FrankOnGit commented on #186
Do you have an account for donations ?
Thank you so much and have a nice day!
Kind Regards,
Frank.
----Ursprüngliche Nachricht----
Von : notifications@github.com
Datum : 17/09/2018 - 13:48 (GMT)
An : ghostery-extension@noreply.github.com
Cc : f_huerlimann@bluewin.ch, mention@noreply.github.com
Betreff : Re: [ghostery/ghostery-extension] iframe not loading for certain url's (#186)
I've just checked

[2018-09-17 19:26] tcz opened #193 "Braintree payment is blocked"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

Same as https://github.com/ghostery/ghostery-extension/issues/149

Ghostery for Chrome version 8.2.4
URL: https://api.braintreegateway.com/merchants/....
Returns 307 from Ghostery.
Non-Authoritative-Reason: Delegate

### Expected Behavior

Not blocking payment forms

### Actual Behavior

Pa

[2018-09-19 20:16] ChakraaThePanda opened #196 "Youtube keeps going back to Light Mode when Ghostery is Active."
### Description

I am not sure how often it resets exactly, sometimes it's within the minute, other times it could take up to a few hours, but when navigating on Youtube with Ghostery, the light theme keeps coming back even if I put the dark mode on. It no longer does it if I turn off the extension.

### Expected Behavior

Keep my Dark Theme on Youtube.

### Actual Behavior

Doesn't keep the dark

[2018-09-21 16:32] Storm-Engineer commented on #43
@christophertino I already had an allow exception for the whole ghostery.com domain.

The only cookie getting created is analytics.ghostery.com

[2018-09-22 22:55] altae7 commented on #43
Ok, thanks for the reply. It's the first party isolation then. Since I'm not willing to disable it I'll live with not being able to login.

[2018-09-23 10:02] Storm-Engineer commented on #43
@christophertino I did some further testing. Apparently FF's handling of "3rd party" cookies is the issue.

I had 3rd party cookies set to "never allow", and using Allow exceptions for sites I use. This worked in the past. Now however, apparently it doesn't anymore.

Changing 3rd party cookies to "always" fixed the login issue and changing it back to "never" broke it again. This sounds like a Fire

[2018-09-23 11:28] Speciesx opened #197 "ghostery-collector.ghostery.com"
Why the heck Ghostery try every 5 min to connect to ghostery-collector.ghostery.com?

![ghostery](https://user-images.githubusercontent.com/1196375/45927500-07828900-bf34-11e8-8901-adaa241b13dc.PNG)

Firefox Nigthly
Ghostery 8.2.4
Windows 10

[2018-09-25 08:50] christophertino commented on #43
@Storm-Engineer Can you try setting an Allow exception for `https://consumerapi.ghostery.com` ?

I was able to force the logout with third party cookies set to Never, but adding an exception for the above domain seems to clear it up. Let me know.

[2018-09-25 17:35] philipp-classen commented on #197
`ghostery-collector.ghostery.com` is the endpoint for Human Web related communication.

If Human Web is enabled, Ghostery will poll the list of proxies (https://ghostery-collector.ghostery.com/v2/lookuptable). That explains the requests that you see. As the lists do not change often, we should increase the polling interval, which is currently set to five minutes.

Do you know which Pi-hole blockli

[2018-09-25 18:09] remusao commented on #22
Hi @maverick74,

If you see some ads, would you maybe consider sharing the websites with us? That would be of great help to either make sure it's not a bug, or consider adding extra list to broaden our coverage.

Thank you so much!

[2018-09-25 18:35] remusao commented on #132
Hi @aaronadamsTO,

Do you still see this issue? I was checking the rules and it seems that the only one which could be problematic is this one: `telegraphindia.com##.clickable` from easylist, but it should only be used on the `telegraphindia.com` domain. I could not reproduce the issue yet though.

[2018-09-25 18:35] Speciesx commented on #197
I've blocked ghostery-collector.ghostery.com, after i saw those requests.

Human Web is disabled, it was never enabled, but i still see those requests.

[2018-09-26 15:07] Storm-Engineer commented on #43
@christophertino Yes, setting that exception soled it indeed.

But I already had an Allow for the main "ghostery.com" domain, and that should have did the trick already without explicitly setting the subdomain. Plus, other sites have malfunctioned lately as well (eg. YouTube kept forgetting the Dark theme and Autoplay settings) until I set it from Never to Visited.

So I still think Firefox starte

[2018-09-28 15:44] maverick74 commented on #22
Hi @remusao ,

I'm trying Ghostery with _full block / block all_ in order to compare it with other blockers.

I'll keep a list any webpage URL that has ads and will share them here... if i get any :)

(with this settings, so far, i'm pretty happy)

[2018-10-01 21:09] ContribOpenSource opened #199 "Why ghostery try to connect to 10.0.4.162 or 10.0.5.141 ?"
### Description

With extension v8.2.4, I noticed today that it try to connect to 10.0.4.162 or 10.0.5.141, why ?
If this extension is disabled in my browser, there is no request to previous IPs anymore, so it seems to be triggered by ghostery !?

### Expected Behavior

No request to internal network addresses.

### Actual Behavior

TCP request sent to previous IPs.

### Steps to Reproduce

1. lau

[2018-10-09 20:45] trickpattyFH20 commented on #43
For anyone unable to login from the extension panel on Ubuntu:
It looks like there is a bug with the Linux package ibus that closes any extensions in FF as soon as a `type=password` field is focused [ibus#2002](https://github.com/ibus/ibus/issues/2002#issuecomment-396711051)

Other extensions are experiencing the same problem, and unfortunately there isn't much we can do to workaround it. [bitward

[2018-10-15 10:26] JianunChen opened #209 "Ghostery for Edge version 8.2.4 enhanced anti-tracking block open a ppt online file on Edge"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

[Description of the bug or feature]
When the user enabled anti-tracking on edge, the user can't open a ppt file online with O365

### Expected Behavior
Open a ppt online file successful

Here is request header:
POST https://ppc-powerpoint.officeapps.live.com/pods/PowerPoint.ashx?openEarly=t

[2018-10-16 12:53] philipp-classen commented on #197
In the current release (8.2.4), we are polling for changes to the proxy list every 5 minutes. That is a GET request to https://ghostery-collector.ghostery.com/v2/lookuptable.

We are not sending data in these requests, but as the fetched content of rarely changes, 5 minutes is quite wasteful, especially if you are using in on a metered internet connection. In the upcoming release, it will now poll

[2018-10-17 04:27] vHeemstra opened #214 "Bug: Uncaught TypeError: Cannot read property 'href' of null at u (content_script_bundle.js:1)"
### Description of bug

When using JSFiddle, my browser's console shows uncaught TypeErrors from the Ghostery extension script whenever I click after one of these characters `(`,`)`,`[`,`]`,`}`,`}` (when it's the last character on the line) in the editor field.

_NB: I've seen it in other situations/on other websites happening as well, but this is just an example._

### Expected Behavior

Nothing

[2018-10-17 16:57] christophertino commented on #199
This issue should be fixed now. Please let us know if you are still seeing those network calls.

There was a bad header redirect on https://ghostery-sign.ghostery.com/config, which is part of our proxy network.  We use this for our Human Web and Anti-Tracking features.  We deployed an update to our backend last week to clean it up.

[2018-10-18 12:19] philipp-classen commented on #214
Thank you for the bug report, I get the same error.

This is the code that throws:
https://github.com/cliqz-oss/browser-core/blob/master/modules/core/sources/content.es#L224

[2018-10-19 02:13] JianunChen commented on #209
Thanks for your quick response, could you help to share the request header of open early, X-UserSessionId and page url to me?

For clarify:

My ghostery version is: Ghostery for Edge version 8.2.4

[cid:6421e48f-3f8f-4d69-99a2-51da955d1259]

Below is request header of open early with Anti-tracking enabled and disabled:

1. With anti-tracking, it remove many header

1.1 Here is the request url:

ht

[2018-10-19 02:30] JianunChen commented on #209
Reply again with the screenshot and attachment.

Thanks for your quick response, could you help to share the request header of open early, X-UserSessionId and page url to me?

For clarify:
My ghostery version is: Ghostery for Edge version 8.2.4
![pastedimage](https://user-images.githubusercontent.com/44161715/47194252-36501b80-d389-11e8-8a66-bf7705ed7097.png)

Below is request header of open early

[2018-10-23 19:32] #199 closed

[2018-10-23 19:49] #89 closed

[2018-10-24 11:34] Feranor commented on #197
A bunch of public blocklists have added everything related to Cliqz and Ghostery as a result of Mozilla sneakily adding the Cliqz extension to some German Firefox installations. Especially communities like the Firefox subreddit seem to believe (rather zealously) that Ghostery is closed source and sells their users browser history to ad companies.

Some examples:

https://www.reddit.com/r/firefox/c

[2018-10-25 17:12] philipp-classen commented on #214
Should be fixed in the next release.

[2018-10-28 21:37] rakoczy commented on #43
How to do it in FF63?

[2018-10-29 15:31] christophertino commented on #43
@rakoczy It's under Preferences > Privacy & Security > Cookies & Site Data > Exceptions

[2018-10-30 09:41] StephanKl commented on #186
@sammacbeth I have the same problem - do you already know (and can share) the release date for the next version of the Ghostery Chrome Extension? Thank you

[2018-10-30 17:02] christophertino commented on #186
@StephanKl we're currently regressing tickets for v8.3, scheduled for release the week after next (November 12).

[2018-11-09 02:39] JianunChen commented on #209
@Aziz-Ghostery @trickpattyFH20

Do you have any update? please let me know if you need more information. thanks

[2018-11-09 12:08] butlerfr commented on #132
Same issue for me but in Firefox 63.0.1 (64bits).
I have a file including multiples iframe for monitoring some services.

If I turn off ghostery everything work fine but if I turn it back on i have just blank frame...

[2018-11-09 20:43] aaronadamsTO commented on #132
I can confirm the issue has worsened significantly. Ghostery now inserts these rules into all iframes on HTML pages opened on `file:` protocol:

`<style type="text/css" id="cliqz-adblokcer-css-rules"> :root [style]:not(SPAN) {display:none !important;}</style>
<style type="text/css" id="cliqz-adblokcer-css-rules"> :root .header {display:none !important;}</style>`

I'm thinking these could be malfor

[2018-11-09 20:47] remusao commented on #132
Thank you for the details about the issue @butlerfr @aaronadamsTO. Indeed, it looks like empty domain might be the root cause of the issue. I suspect that an empty domain might allow triggering of rules meant for specific domains. I will look into this issue ASAP.

[2018-11-09 20:56] aaronadamsTO commented on #132
Thanks @remusao.

If it helps, I'm guessing the rule that's now suppressing iframes entirely is probably this one, checked in 12 days ago:

https://github.com/cliqz-oss/adblocker/blob/0cddd63ec5cf46d71f2d39b8e8887172b2ab6feb/assets/raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters.txt#L10997

[code]

[2018-11-09 22:05] remusao commented on #132
@aaronadamsTO I was able to reproduce and find a fix for this issue, which was two-fold:

1. We should not inject cosmetics at all on un-supported protocols (e.g. `file://`), as you suggested initially. There was one code-path which did not check this condition and would potentially inject cosmetics for URLs with any protocol.
2. In some cases, when `hostname` is empty, some rules would be incorre

[2018-11-20 20:20] jordanranson commented on #214
When will that be? This is still an issue.

[2018-11-23 20:18] Speciesx commented on #197
![1](https://user-images.githubusercontent.com/1196375/48959262-7b590600-ef64-11e8-9c05-bddb764e672d.PNG)
Human Web is disabled and will be never enabled, but still get a bunch of that spyware connections!

[2018-11-27 18:10] christophertino commented on #197
@Speciesx v8.2.5 released today reduces those proxy checks to every 6 hours. To disable them completely, make sure to also turn off Anti-Tracking protection in Ghostery (blue shield icon), since that feature uses the Human Web proxies to obfuscate sender data when building our Safe Data Set.  Check out the "Unsafe Data Removal" section of [this blog post](https://whotracks.me/blog/how_cliqz_antitr

[2018-11-27 18:11] christophertino commented on #214
@jordanranson We released v8.2.5 today which should fix the issue.  Please update and let us know.

[2018-11-27 18:12] christophertino commented on #186
Fixed in v8.2.5

[2018-11-27 18:40] christophertino opened #253 "Ghostery v8.2.5 for Firefox prompts users to re-acknowledge permissions"
The v8.2.5 release on Firefox is prompting users to re-accept Ghostery's permissions via an upgrade dialog. This is triggered by #234, which allows Ghostery to catch trackers and ads served over WebSockets (`"ws://*/*", "wss://*/*"`).  This is the only permission that was changed and it has not triggered a similar permission dialog in Chrome or Opera.

There's an open Bugzilla bug to address why F

[2018-11-27 19:59] jordanranson commented on #214
@christophertino Seems to be good now! Thanks for the hard work guys.

[2018-11-27 20:11] #214 closed

[2018-11-27 20:34] christophertino commented on #132
@aaronadamsTO this should be resolved in Ghostery v8.2.5. Please upgrade and let us know if it's still happening.

[2018-11-27 20:39] aaronadamsTO commented on #132
@christophertino Success! I'm happy to confirm Ghostery is no longer injecting strange rules into my iframes in domainless contexts. My test pages work again!

This will save me multiple "WTF? Guh..." trips to Incognito mode every week, so thank you!

[2018-11-27 20:43] christophertino commented on #132
Great! Thanks again for the help, much appreciated.

[2018-11-27 20:43] #132 closed

[2018-11-27 20:57] christophertino commented on #209
@JianunChen could you update to Ghostery 8.2.5 and let us know if this is still happening? We have not been able to reproduce the issue.

[2018-11-27 21:54] christophertino commented on #192
I messed around with this a bit and it looks like the login API call to `https://www.freecharge.in/api/v2/identity/signin/user` has some  third-party dependencies.  If It allow the Google Tag Manager, Adobe Dynamic Tag Manager and Omniture trackers on this site, the login succeeds.

We can add compatibility exceptions for these trackers so that they are automatically unblocked on this site for use

[2018-11-27 22:11] christophertino commented on #196
@ChakraaThePanda can you verify this is still happening? I've been trying to reproduce but haven't had any luck.  Thanks.

[2018-11-27 22:40] ChakraaThePanda commented on #196
It is still happening for me everyday.On Nov 27, 2018 17:11, Christopher Tino <notifications@github.com> wrote:@ChakraaThePanda can you verify this is still happening? I've been trying to reproduce but haven't had any luck.  Thanks.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-11-27 22:41] ChakraaThePanda commented on #196
And not just on my browser at home. Happens at work as well.On Nov 27, 2018 17:11, Christopher Tino <notifications@github.com> wrote:@ChakraaThePanda can you verify this is still happening? I've been trying to reproduce but haven't had any luck.  Thanks.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-11-28 21:04] TiTi opened #254 "Can't open links since 8.2.5 on Chrome: "pop-up blocked""
### Description

Last update today or yesterday broke a lot of links in my Chrome, either left or middle clic.
A message "pop-up blocked" appears in the url toolbar.

I have no other choice but to disable Ghostery for now 😢

It affects a lots of websites. Sometimes the link is working somehow.
Steps to reproduce I'm submitting always fail.

It works fine (as usual) when deactivating Ghostery.

Imp

[2018-11-29 01:15] dwaal commented on #253
This also struck me as odd. Especially since there is no mention in the 8.2.5 changelog talking about requiring new permissions.

[2018-11-29 14:47] christophertino commented on #253
Yes, it's pretty disappointing. The changelog mentions adding WebSocket support but not the new permissions because the permission dialog was not triggered in our normal regression testing. Apparently to test these warnings you need to self-sign and host your test builds on an HTTPS server and then jump through some other hoops as outlined [here](https://bugzilla.mozilla.org/show_bug.cgi?id=141199

[2018-12-01 11:58] meredy commented on #254
I experience the same issue, but seemingly only since 8.2.6 was released

[2018-12-03 14:56] sammacbeth commented on #193
Hi. The URL you provided is a blank page for me. Could you provide a page where this issue can be tested?

[2018-12-03 16:34] Marat-Tanalin opened #258 "Breaks external HTTP images on HTTPS pages"
### Description

Looks like Ghostery started to automatically replace `http` with `https` (note the **s**) in `IMG` element’s `src` attribute. This breaks external images located on HTTP sites that don’t have HTTP**S** version.

Tested with a new clean profile with Ghostery installed as the only extension. Disabling Ghostery as an extension via Firefox extension manager does help.

### Expected Be

[2018-12-03 17:30] christophertino commented on #196
Alright, thanks for the update.  I'll keep trying to reproduce.

[2018-12-03 18:23] joeczucha opened #259 "Wordpress 'Select Files' dialog doesn't show up with Ghostery enabled"
### Description

Wordpress 'Select Files' dialog doesn't show up. After disabling Ghostery, everything works as expected.

### Expected Behavior

The dialog should appear, allowing you to select a file.

### Actual Behavior

Nothing - and no errors in JS console.

### Steps to Reproduce

1. Visit Wordpress admin panel
2. Click `Media`
3. Click `Add new`
4. Click `Select Files`

### Versions

+ Bro

[2018-12-04 19:41] Marat-Tanalin commented on #258
This is a pretty naive approach. If any site could be made secure just by replacing `http` with `https`, then extensions like HTTPS Everywhere wouldn’t be forced to have a huge built-in database of hosts actually **working** via HTTPS.

Blindly replacing `http` with `https` in external links is **web-incompatible**, so this should at least be **opt-in** anyway.

[2018-12-04 21:00] Aziz-Ghostery commented on #258
We may be wrong in assuming that anybody who  goes through the trouble of setting a secure site will make sure that its content is equally secure. As I've explained this is how Ghostery currently works.
If you are keen  on accessing these two images, you may disable smart blocking.

[2018-12-04 21:11] christophertino commented on #258
@Marat-Tanalin We only check for mixed content when users have Smart Blocking enabled. To your point, it is an opt-in feature.  You can disable it by clicking on the blue light-bulb icon in Ghostery.

You can see here where we attempt to upgrade the request to https.

https://github.com/ghostery/ghostery-extension/blob/a10b414d15bba7d28da62503a2a0ba88b7b60f96/src/classes/EventHandlers.js#L631

As

[2018-12-04 22:04] Marat-Tanalin commented on #258
Opt-in means disabled by default. Smart Blocking is apparently enabled by default given that images did not load when I tested with a clean Firefox profile with Ghostery just installed and used with default settings.

If you’ll decide to keep it enabled by default (which I believe would be a mistake), then it would probably make sense for you at least to consider make it **more explicit and clear

[2018-12-05 20:07] stefanhayden opened #262 "Access-Control-Allow-Origin Issue"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

I have a weird issue that when ghostery is enabled on chrome a CORS image request fails. I can repo it in our app (requires a paid subscription to get to issue) but I can't in an isolated repo or jsfiddle.

The headers for the response set on the server are
[code]

and I an requesting it wi

[2018-12-06 12:36] rbjarnason opened #263 "Ghostery breaks direct Amazon S3 uploads that use pre-signed URLs"
### Description

We've been adding video upload features to our open source citizens participation application. After quite a bit of debugging we've found that Ghostery blocks our direct uploads to Amazon S3 using pre signed URLs. The reason is that Ghostery rewrites the outgoing PUT query string parameter from "x-amz-acl: bucket-owner-full-control" to "x-amz-acl: ghostery" invalidating the signat

[2018-12-06 22:25] clarkduvall opened #264 "webRequest header access changes in Chrome 72"
It looks like Ghostery is accessing or modifying headers that will not be available by default in Chrome 72 (currently on the dev channel). These include:

Request headers:
- Accept-Language
- Accept-Encoding
- Cookie
- Referer

Response headers:
- Set-Cookie

To access these headers you will need to add 'extraHeaders' in the extraInfoSpec of the relevant webRequest listeners.

See the post on the

[2018-12-09 04:36] chrisblakley opened #267 "currentURL is not defined console error"
### Description

`currentURL` is not defined in content_script_bundle.js on line 13.

### Expected Behavior

No console error.

### Actual Behavior

Console error appears.
![screen shot 2018-12-08 at 11 24 14 pm](https://user-images.githubusercontent.com/6349678/49693431-84d79600-fb40-11e8-85f5-af0485118303.png)

### Steps to Reproduce

I've only noticed this on [my website here](https://gearside.

[2018-12-10 15:52] christophertino commented on #264
@clarkduvall thanks for the heads up.  It looks like Chrome 72 is due out on Jan 29th so we'll need to get this resolved before then.

[2018-12-10 15:58] christophertino commented on #263
We've updated our whitelist implementation on the anti-tracking back-end to fix this issue. @rbjarnason Could you please test and let us know if the problem is resolved?

[2018-12-10 16:02] christophertino commented on #267
Looks like this has popped up on stackoverflow too:

https://stackoverflow.com/questions/53527188/new-currenturl-is-not-defined-error-in-google-apps-script-web-apps

[2018-12-10 16:07] rbjarnason commented on #263
@christophertino This works now, thanks for a quick response, I'm closing the ticket.

[2018-12-10 16:07] #263 closed

[2018-12-10 16:34] christophertino commented on #259
@joeczucha I wasn't able to reproduce this on two WordPress sites that I tested with Chrome 71 and Ghostery 8.2.6.  I wonder if this is related to #254 since it also involves a dialog window.

[2018-12-11 16:46] Aziz-Ghostery commented on #262
Hi Stefan,
What is the images(s) URL is it an HTTPS or HTTP?

[2018-12-11 16:54] christophertino commented on #258
Those are all good points.  The Smart Blocking feature is a bit of a black box right now.  There should be an indicator in the UI explaining what type of requests it's blocking.  I'll make a ticket for it.

[2018-12-11 17:13] stefanhayden commented on #262
https!

[2018-12-12 11:38] joeczucha commented on #254
I'm experiencing the same issue, but with a strange caveat:

I have an iMac in my office and a Macbook Pro at home. I'm running Chrome Version 71.0.3578.80 on both and have recently restarted both browsers/machines. To test, I'm running in "incognito mode" with Ghostery (version 8.2.6) as the only active extension on both.

On the iMac - if I visit www.bbc.co.uk, hold CMD and click a link, I get "

[2018-12-12 11:50] joeczucha commented on #259
Hi @christophertino

I've just been playing with this and I've found that there are certainly similarities between the two issues.

I've posted some of my findings on #254 but, in this case:

I have an iMac in my office and a Macbook Pro at home. I'm running Chrome Version 71.0.3578.80 on both and have recently restarted both browsers/machines. To test, I'm running in "incognito mode" with Ghoster

[2018-12-13 17:10] clt2rdu commented on #267
We are also getting this error on all of our websites.  When I turn Ghostery off, the error goes away.  When I turn it back on, the error comes back so I have resorted to keeping Ghostery off until I need to see what tags are firing for QA purposes.

[2018-12-16 23:15] TiTi commented on #254
I don't have the issue anymore with Chrome Version 72.0.3626.17 (Official Build) beta (64-bit)
Ghostery in version 8.2.6

I suppose it was a Chrome issue?

[2018-12-16 23:15] #254 closed

[2018-12-17 16:59] christophertino commented on #259
@joeczucha thanks very much for this info.  When you have a second, could you please check the Web Console for that page and see if any errors are thrown when clicking 'Select Files'?

Similarly, we can check for errors in Ghostery by visiting chrome://extensions/, enabling Developer Mode (top right), then where Ghostery is listed, click "background page".  See if any errors are thrown when clicki

[2018-12-18 17:34] joeczucha commented on #259
Hi @christophertino I've just checked it there and both the web console and background page console are blank.

Just to add, "Pausing" Ghostery makes no difference; it's only when I disable it in Chrome that it starts to work.

[2018-12-19 05:47] Argorate commented on #258
Can we add an option to allow mixin plz?

Cant continue to use Ghostery because this bug....

[2018-12-30 03:02] doktorJung commented on #254
I'm just encountering this issue with Version 71.0.3578.98 (Official Build) (64-bit), and I see no updates available.  I hope I can get 72 soon!

[2019-01-01 13:17] DanielRuf commented on #254
You have to get Chrome beta or test the Canary version.

https://www.google.com/intl/de_ALL/chrome/beta/
https://www.google.com/intl/de_ALL/chrome/canary/

[2019-01-01 16:15] doktorJung commented on #254
Thanks, I might give it a try!

[2019-01-03 15:34] philipp-classen commented on #267
It has been fixed in the development version. The error message should go away with the next release.

[2019-01-06 13:02] iki commented on #267
@philipp-classen Thanks for fixing that! It breaks both Ghostery and some sites like Messenger in my Opera.

Disabling Ghostery until the release fixes that. However, it's a strange feeling allowing all trackers in :(

When do you expect the [release](https://github.com/ghostery/ghostery-extension/releases), please?

[2019-01-06 20:31] philipp-classen commented on #267
@iki Ghostery 8.3 is now in internal testing. From this point on, it is mostly about fixing regressions, but it depends on what issues will still be found.

[2019-01-08 20:03] bast1aan commented on #258
This issue affects me too, it took me some time to find out the problem is caused by Ghostery. As mentioned by the issuer, this is standards-violating behavior. In cases of user generated content like forums, you cannot assume the site owner always has control that all content is also always served over https. As far as I know, browsers block by default leaking data like referer or https-cookies t

[2019-01-09 08:43] FrankOnGit commented on #186
f

[2019-01-10 03:11] jupiter14 opened #310 "Full Screen on Youtube and many other sites is not working"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description
Clicking on Full Screen icon on Youtube and many other video sites is not working. It does not make the video full screen.

### Expected Behavior

Clicking on the Full Screen icon should enable the video in full screen mode.

### Actual Behavior

Nothing happens.

### Steps to Reproduce

Ena

[2019-01-10 09:57] Anvano commented on #259
I have the same issue.
Chrome version  71.0.3578.98  Windows 7 Professional
Ghostery version  8.2.6

Any controls at any sites that opens  "Select Files" dialog does not work when plugin enabled.
Drag & Drop  files works fine.

Web console clear - no messages.

[2019-01-10 11:38] Sn-a-ke commented on #254
ghostery - 8.2.6
Browser: chrome - 71.0.3578.98 (Official Build) (64-bit)
OS: win7(64)

-same behavior

[2019-01-10 12:07] aloker commented on #254
Same problem here. I'd appreciate a solution that does not require me to wait for Chrome 72 (29/1/19) or install a beta version.

[2019-01-10 14:28] LtPatterson opened #313 "Chrome Tab Middle Click "pop-up blocked""
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

Middle clicking a link to open it in a new tab triggers the chrome popup blocker and does not open the new tab.
Issue was concurrent with issue #310 and is behavior similar to if not exactly the same as #254 , which is a closed issue, so I'm opening a new one in hopes it gets someone's atte

[2019-01-10 14:34] PINHOf opened #314 "Ghostery blocking input-file select"
### Description

Ghostery is blocking the input-file HTML preventing the user from selecting a file.
By desactivating completly the extension, it works.

You can see the bug here: https://streamable.com/rqxyz

### Versions

+ Browser: Version 71.0.3578.98 (Official Build) (64-bit)
+ OS: Windows 10 64 bits

[2019-01-10 14:48] JeremyLC commented on #310
On YouTube you'll get this in the developer console every time you click the fullscreen button.

`Failed to execute 'requestFullscreen' on 'Element': API can only be initiated by a user gesture.
zr @ base.js:1116
g.h.Gd @ base.js:4908
g.h.bH @ base.js:5907
base.js:1116 Uncaught (in promise) TypeError: fullscreen error
    at zr (base.js:1116)
    at g.BJ.g.h.Gd (base.js:4908)
    at dS.g.h.bH (bas

[2019-01-10 14:52] hypercube33 commented on #313
I can also reproduce this. Disabled the plugin and its working as expected. Happening on multiple sites. May be tied to this reddit thread as well.
https://old.reddit.com/r/chrome/comments/aed4ot/chrome_treating_middleclicks_as_popups/

[2019-01-10 14:59] jingtra commented on #259
Same problem here.

[2019-01-10 15:00] jingtra commented on #254
Same problem here.

[2019-01-10 15:18] ChakraaThePanda commented on #314
I will have to disable the addon until it is fixed as it's doing this issue and https://github.com/ghostery/ghostery-extension/issues/313 since the last update, and I can't work without them.

[2019-01-10 16:09] LtPatterson commented on #259
Request this be merged with #314

[2019-01-10 16:38] wlycdgrfromflatiron commented on #314
Thank you very much for taking the time to report this issue. We are able to reproduce and are looking into it.

[2019-01-10 16:39] christophertino commented on #310
I can reproduce as well.  Looks like one of our content scripts is interfering with the click event.  We're currently looking into it.

[2019-01-10 16:45] christophertino commented on #259
I can reproduce now in Chrome every time with Ghostery enabled.  I'm not sure what changed but it appears to be much more widespread.  We are working on a fix.

[2019-01-10 16:54] joekaiser commented on #313
I can reproduce this. It also blocks with a ctrl+click

[2019-01-10 19:24] philipp-classen commented on #314
Some update. We could narrow it down to sending a message from the content script to the background and back again. @sammacbeth created a minimal extension to reproduce:

https://gist.github.com/sammacbeth/96b938d94d49451020fdfba7e80c57d8

If you want to support, please let us know if you can reproduce with it as well.

It appears that Ghostery is not the only extension affected by the problem. Fu

[2019-01-10 19:32] philipp-classen commented on #310
Looks like a duplicate of #314

[2019-01-10 19:33] philipp-classen commented on #313
Looks like a duplicate of #314

[2019-01-10 19:33] betterwithpesto commented on #313
Clicking on a link that has `target="_blank"` that normally opens in a new tab, is now blocked as well when the extension is running.

[2019-01-10 19:34] wlycdgrfromflatiron commented on #314
I am able to reproduce using Sam's minimal extension after changing the type attribute of the input element to "file" (when it's "upload", clicking the button does not open an input file select dialog regardless of whether extension is present).

[2019-01-10 19:51] philipp-classen commented on #314
It is interesting that not all systems are affected. On two Linux machines that I could test so far, everything is alright (Chrome 71.0.3578.98, one running Ubuntu 18.04, the other Arch Linux). I also tried Chromium in different versions, but could not reproduce any of the issues so far.

We had no recent Ghostery releases (8.2.6 was released on Nov 30th). I also do not see a Chrome release (last

[2019-01-10 20:03] xhc1 commented on #314
checked Chrome + ghostery this url:

https://ulozto.net/sem

result - by click "Select files" no popup appears

chrome + disabled ghostery (totally turned off, disabled in extensions)
result - working

firefox and chromium works with ghostery enabled

[2019-01-10 20:14] xhc1 commented on #314
kindly weird because this issue I found today morning, I am pretty sure few days it worked (on same machine without update-changes)

[2019-01-10 20:49] philipp-classen commented on #314
There were updates on the Chrome issue (https://bugs.chromium.org/p/chromium/issues/detail?id=918268 ).

It seems the regression got introduced in Chrome by a recent experiment. That would explain why some extensions (not only Ghostery) suddenly started breaking, and why not all users were affected.

Let's hope it gets fixed soon. At this point, I think it is best for us to wait. (Theoretically, w

[2019-01-10 21:18] janvernieuwe commented on #310
Can confirm this on Win 7 Chrome 71, it's quite annoying.
Pressing F to go fullscreen does seem to work.
Whitelisting the site does not work, only disabling the extension.

[2019-01-10 22:37] TiTi commented on #254
https://www.androidpolice.com/2019/01/10/chromes-pop-up-blocker-is-going-haywire-if-youre-using-certain-extensions/

[2019-01-10 22:50] doktorJung commented on #254
Here's the Chromium ticket I opened a while back, it's being investigated as mentioned in the article above: https://bugs.chromium.org/p/chromium/issues/detail?id=918268

(It was sorta dismissed as a Ghostery issue at first, but there's movement on it now!)

[2019-01-10 23:57] philipp-classen commented on #314
Good news. The Chrome team will roll back their experiment (https://bugs.chromium.org/p/chromium/issues/detail?id=918268).

That should fix it.

[2019-01-11 00:07] philipp-classen commented on #259
@christophertino Can you please mark it as a duplicate of #314

Chrome is rolling back their experiment, which should fix it.

[2019-01-11 00:07] philipp-classen commented on #310
@christophertino Can you please mark it as a duplicate of #314

Chrome is rolling back their experiment, which should fix it.

[2019-01-11 00:09] philipp-classen commented on #313
@christophertino Can you please mark it as a duplicate of #314

Chrome is rolling back their experiment, which should fix it.

[2019-01-11 00:20] philipp-classen commented on #314
For all user that are affected. The Chrome fix will be rolled out in the next hours. You will have to manually restart the browser. This is the official announcement:
https://productforums.google.com/forum/#!topic/chrome/fOXX61ZDP4w

@sammacbeth Kudos to Sam for narrowing it down with that minimal example! That bug affected quite a lot of people, not only Ghostery user. With that example, the Chro

[2019-01-11 00:31] xhc1 commented on #314
confirmed on linux, working again ...... no manually update-changes, just restarted browser, little bit ghostlike - this chrome's experiments cant be under user control, horrors ...

[2019-01-11 15:18] doktorJung commented on #254
They're rolled back an experiment, so restarting Chrome should resolve the issue once it propagates.

https://bugs.chromium.org/p/chromium/issues/detail?id=918268#c36

[2019-01-11 18:01] #197 closed

[2019-01-11 18:01] #196 closed

[2019-01-11 18:07] christophertino commented on #259
Duplicate of #314

Latest Chrome rollout appears to have fixed the issue.

[2019-01-11 18:07] #259 closed

[2019-01-14 18:13] #314 closed

[2019-01-14 18:13] #313 closed, assigned to nobody

[2019-01-14 18:13] #310 closed

[2019-01-16 21:23] philipp-classen commented on #267
@iki Release is live.

[2019-01-16 22:48] #264 closed

[2019-01-18 14:35] #267 closed

[2019-01-21 10:10] Benjamin-Markson opened #323 "Large download on every start"
Recently, I've been trying to love (and trust) Ghostery again. I've mainly only used it up to version 5 (around which time I felt it lost its way). Anyway, Ive now been using version 8, and it is nicely done. A part from the Enhanced Anti Tracking which doesn't seem to put anything in the detailed view it provides useful visibility on what it's doing. However, there is one thing that's bothering m

[2019-01-21 20:37] philipp-classen commented on #323
Hi Benjamin,

For me, the extension downloads about 4.15 KB (actual transferred size) when I restart Ghostery. Both on Firefox and Chrome (tested on Linux). Is this about the same size that you see?

About 2.6 KB (compressed) is for `https://collector-hpn.ghostery.net/config`, the config of the system used for anonymized data transfer. For example, if you allow Ghostery to send Human Web messages,

[2019-01-26 16:18] linegel commented on #258
I want add my two cents: that’s behavior is correct and should stay in place, but to make clear for user that what happens is expected behavior there should be a tip somewhere with link to explanation how much information can be exposed in case this feature will be disabled coz for many people this tech scoop not obvious

[2019-01-27 08:08] Crare opened #330 "Google maps very slow when ghostery enabled. -> inform user about slow loading site?"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

While I run google maps pages, it gets very slow if I have ghostery enabled. I think this is because google maps keeps sending data constantly to multiple sources and ghostery is blocking it and google maps might be waiting for callback or something and it slows down. Problem gets fixed if

[2019-01-28 13:44] remusao commented on #330
Hi @Crare!

Thank you for taking to time to report this issue. We've been investigating and this slow-down seems to be caused by some issue in the way the adblocker decides which cosmetic filters to inject in the page. To be more specific, when an action is performed in Google Maps (scrolling, moving around, etc.) the URL changes and this triggers a `location change` event which currently refreshe

[2019-02-05 20:40] Achille-Grs commented on #330
Hi! Just a small bug when I put the add-on Ghostery inside popup menu in Firefox 65!
Outside the popup menu like an extra button it's ok.
But... as you see the error pic inside popup menu, the bug is cutting the add-on popup box
(sorry for my poor english)
I hope the pics help the problem and fixed in the next update.
![9](https://user-images.githubusercontent.com/32937226/52302809-f8f2b680-2996-1

[2019-02-12 19:35] hrasmussendk opened #339 "Feature request: Pretend accepting ads"
### Description

Feature request. Pretend accepting ads to avoid rejection of content

### Expected Behavior

Some websites tests for ad blockers and if detected they reject to display their content. By pretending to accept the ads while actually blocking them, such websites would display their content to the user.

### Steps to Reproduce

Nothing to reproduce since it's a request of a new feature

[2019-02-15 22:44] DaveJarvis opened #340 "Feature Request: Hide PurpleBox (by default)"
### Description

Ghostery shows a purple box when browsing.

### Expected Behavior

Ghostery does not show a purple box when browsing.

### Actual Behavior

Ghostery shows a purple box when browsing.

### Steps to Reproduce

1. Visit a web site.

### Versions

+ Browser: Firefox
+ OS: Arch Linux

### Additional Details

Please provide functionality to disable the purple box as it is obtrusive (cov

[2019-02-15 22:48] DaveJarvis commented on #340
On a technical note, if you ever decide to change the colour of the purple box, then its name is rendered meaningless. You may wish to rename it to something like "TrackerBox" or such.

[2019-02-16 01:45] maverick74 opened #341 "Wish: Mention ghostery as FOSS software"
This is not a bug or a feature request (so if you want to close it I won't mind :)

I would just like to mention I would very much like to see ghostery more "advertised" as a FOSS project. Maybe with a link to github as well.

I say this because, beside the blog post of opensourcing ghostery, I could not find anything else about it and I really believe it's worth mentioning that it is proudly open

[2019-02-16 01:47] maverick74 commented on #12
I liked very much of the recent "Adblockers Performance Study" ( https://whotracks.me/blog/adblockers_performance_study.html )

Thank you :)

[2019-02-16 18:22] christophertino commented on #12
Thanks! Shout out to @remusao for all of his work making these performance improvements and putting the study together.  We'll be rolling out these updates in our 8.4 release.

[2019-02-16 19:26] remusao commented on #339
Hi @hrasmussendk and thank you for reaching out!

Avoiding so-called "adwalls" is a very interesting topic and something that we are continuously working on. There are already a lot of websites which would show you such warnings or prevent you from seeing their content completely but do not thanks to Ghostery. There are some improvements coming in next release as well regarding this.

If you see s

[2019-02-18 15:22] christophertino commented on #340
You should be able to disable the purple box via the settings menu.  Ghostery menu (top right) > Settings > Purple Box > Show the purple box in the corner of my browser.

Fun Ghostery Fact:  Years ago, the original Ghostery team worked out of a very small room that had purple walls, which they called "The Purple Box".  We've kept that name in modern iterations of Ghostery as a wink and nod to the

[2019-02-18 17:25] pmurley opened #342 "Question: How to suppress first run page"
I'm trying to do some research which involves stateless crawling with Chrome on many distributed machines, and I'd like to have Ghostery running in each browser. I am having an issue because the first-run page always pops up. Is there a simple way to disable first run/update pages programmatically in the extension code somewhere?

Thanks!

[2019-02-18 19:09] DaveJarvis commented on #340
That would make a nice addition to the header comment of the class file.

Is this not available through the **Add-ons Manager**? That is:

1. Visit **about:addons**
1. Click **Preferences** for Ghostery
1. ???

Anyway, the default behaviour should mirror AdBlock Plus and uBlock Origin: don't overlay content (i.e., a purple box) on any web page **by default**. I could not find the setting using Gho

[2019-02-18 19:09] #340 closed

[2019-03-04 16:38] klodoma commented on #148
+1

[2019-03-15 14:00] SabinStargem opened #356 "Browser shuts down while Ghostery is enabled."
Firefox Quantum started to have issues today, with some tabs not responding to search inputs.  I shut down my browser, and then tried starting it up.  Every time, the browser would open briefly before shutting down.  After several tries, I entered the browser's safemode and began switching off my extensions to find the cause.

Ghostery was the cause of my troubles.  After successfully opening my b

[2019-03-15 14:26] christophertino commented on #356
We've been getting similar reports since this morning.  It seems to be related to the FF 65.0.2 release on Windows.

You can try debugging Ghostery in FF at about:debugging if you can get it to open up before it crashes.

[2019-03-15 15:17] christophertino commented on #356
Could you try to uninstall and reinstall Ghostery via about:addons?  This looks to have worked for another user.

[2019-03-15 17:00] slosha69 commented on #356
Firefox crashes pretty quickly when opening it, so what I did is just delete the ghostery file from with the extensions folder of my profile folder. Everything is running fine now, without ghostery of course.

[2019-03-15 17:50] christophertino commented on #356
Here's the Bugzilla ticket we're working from:

https://bugzilla.mozilla.org/show_bug.cgi?id=1535589

If anyone is about to generate a crash report for this issue in `about:crashes` please send us the crash ID or add to the bugzilla ticket.

[2019-03-15 20:35] SabinStargem commented on #356
Reinstalling definitely doesn't work.   About: crashes doesn't list any recent crashes.    The browser closes too quickly to do any debugging.

[2019-03-15 20:42] christophertino commented on #356
Are you running Avast anti-virus by any chance?

[2019-03-15 22:57] SabinStargem commented on #356
Yup.

[2019-03-16 12:22] christophertino commented on #356
Does temporarily disabling Avast from the system tray allow FF to boot up normally with Ghostery? The Mozilla devs think there may be a correlation.

Another user reported that the issue went away after updating to FF 66.

[2019-03-16 15:31] SabinStargem commented on #356
Huh.  Disabling Avast did the trick, and I can now start up with Ghostery enabled.

Good.  :)

[2019-03-19 16:35] rbjarnason opened #357 "Ghostery crashes direct Amazon S3 uploads"
### Description

Here is a ticket I opened on Amazon until I realized to turn off the Ghostery plugin that then fixed this problem.

Suddenly today direct accelerated uploads are not working in my development buckets nor on the 3 production cluster buckets.

This was working yesterday on the same Chrome 73 version but suddenly stopped working everywhere on Chrome. This still works on Firefox.

Any

[2019-03-19 18:20] christophertino commented on #357
I think we had a similar issue recently that @sammacbeth fixed.  I see in one of the headers `x-amz-acl=ghostery` which usually means anti-tracking doesn't like that parameter.

[2019-03-19 18:29] christophertino commented on #342
You can disable that popup in background.js

https://github.com/ghostery/ghostery-extension/blob/fc0827ad162a59f8a57a0058b09dc6daeebc3050/src/background.js#L1750

You would then have to build the extension and load it in Chrome with Developer Mode enabled (chrome://extensions/)

[2019-03-19 18:30] rbjarnason commented on #357
I reported a similar issue last year and it was fixed, this is something new from today as uploads were working yesterday. https://github.com/ghostery/ghostery-extension/issues/263

[2019-03-19 18:36] christophertino commented on #357
Ah yes I remember.  We'll take a look and see what's happening.

[2019-03-19 18:37] pmurley commented on #342
Awesome, thanks so much!

[2019-03-19 18:37] #342 closed

[2019-03-19 18:39] rbjarnason commented on #357
If you have not recently released a new version that might have broken this then last time there was a 403 error but this time it has to do with "307 Internal Redirect" - maybe this is a non-common situation for Amazon in this context that exposes a problem with Ghostery. Just speculating...

[2019-03-22 10:05] CXuesong commented on #209
Actually the problem exists when I'm on Ghostery 8.3.1. It scrubs most of the headers of the following two requests:
[code]
And this causes PowerPoint Online being unable to start. You may see this in Fiddler when you open a presentation in PowerPoint Online.

[Request headers - Original.txt](https://github.com/ghostery/ghostery-extension/files/2995965/Request.headers.-.Original.txt)
[Request head

[2019-04-03 20:15] danieltott opened #369 "Ghostery breaking signed imgix images"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

Imgix has a GET param called `auto` that ghostery is changing the value of to `auto=ghostery`, which breaks the image in our case since we're pre-signing the images.

Example actual image:
https://ralstoninstcms.imgix.net/slideshow/RI-hero-DCAP-PV.jpg?auto=compress%2Cformat%2Cenhance&w=2000

[2019-04-04 13:54] christophertino commented on #369
Looks like an anti-tracking false positive.  @sammacbeth can you take a look?

[2019-04-04 13:56] christophertino commented on #356
This issue seems to have been resolved with a definition update from Avast/AVG. We're still not entirely sure what happened.

[2019-04-04 13:56] #356 closed

[2019-04-04 14:11] #323 closed

[2019-04-04 14:12] #159 closed

[2019-04-04 15:48] danieltott commented on #369
OK - looking at this more it appears it's only happening with the images in the `/slideshow/` directory. Is that just something that ghostery always blocks? These aren't tracking images or ads, they're just marketing images. But we can probably rename that directory if that's just what it is.

[2019-04-05 08:01] sammacbeth commented on #369
This is from the anti-tracking module. The value is being rewritten because:
 * The value `compress%2Cformat%2Cenhance` was not seen by enough users to mark it as safe.
 * The value was used for this domain `imgix.net` in a third-party context on multiple different sites.

As this value is obviously not a tracking identifier I'd like to debug why we did not whitelist it. Is this value fairly uniqu

[2019-04-08 12:49] danieltott commented on #369
I would guess it'd be fairly unique - the `enhance` keyword is one we don't even use every time we use imgix.

[2019-04-22 20:33] christophertino commented on #330
The issue with gmail and Google maps should be resolved in v8.3.2, which was released today.

[2019-04-25 15:39] mrfrase3 commented on #357
Hello,

This just happened to me as a deployment finished running and gave me a heart attack, oddly timed update? 🤔

In my case, it is blocking s3 direct download with a pre-signed cert link. As mentioned by @rbjarnason there are a few 307 redirects, ghostery modifies the query header, and then AWS throws a fit for not having a valid request.

It seems to be modifying the `X-Amz-Credential` query

[2019-04-26 08:04] sammacbeth commented on #357
It looks like this is triggered by developer conditions, because the same credentials are used across multiple origins (staging and production), and the volume is users with this value is low (dev-credentials in use). These two factors will trigger the parameter replacement mechanism.

If the credentials are only used on a single origin in production, then this should not cause an issue for your u

[2019-05-03 11:00] tomclose opened #376 "Error on blocked redirect page prevents user from following blocked redirects"
### Description

Error on blocked redirect page

### Expected Behavior

When I click on an ad result in a google search I am taken to a ghostery page, which displays a link which I can click on if I want to display the page linked to in the ad result.

### Actual Behavior

When I click on an ad result in a google search I am taken to a blank page. In the dev console the on the page I see the follo

[2019-05-03 13:46] shana commented on #376
I'm having the same issue. `sendMessageInPromise` is undefined in [`blocked_redirect.js` ](https://github.com/ghostery/ghostery-extension/blob/master/app/content-scripts/blocked_redirect.js#L146)

https://github.com/ghostery/ghostery-extension/commit/e8e2bdf4a6af6b29a89b92cd69bd2102be9a32e0 is this commit that broke this.

[2019-05-07 08:16] thany opened #378 "Building the sourcecode"
### Description

I can build the source code, but it's not producing a usable result. It produces a collection of JS files and a css folder, which is hardly a useful result. For starters, a collection of JS files is not a browser addon...

### Expected Behavior

I was expecting an XPI file for Firefox at least, and similar addons packages for other browsers.

### Actual Behavior

A dist folder wit

[2019-05-07 15:25] Eden12345 commented on #378
Hey @thany, thanks for reaching out. To clarify, this process for building the source code is designed for local development.

Once you've followed the steps in the "Installation" and "Building" sections of the `README.md`, you can load your extension into Firefox using the process outlined here: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Your_first_WebExtension

Basica

[2019-05-07 15:25] #378 closed

[2019-05-07 18:57] AJerm commented on #148
Has this been added yet? I use a lot of sites with chat widgets like Intercom regularly and it's pain having to whitelist every one.

[2019-05-08 17:49] thany commented on #378
Not, it's not solved yet, don't close this ticket so eagerly ;)

Shouldn't there also be a step to build a production-ready addon file? I've set the build script to build for **production**: `yarn run build.prod`

And indeed, my goal is not development. My goal is to build the extension myself and install it like I would from addons.mozilla.org. So how do I do that? Surely, you do that as well, an

[2019-05-09 07:26] Misiu opened #381 "Ghostery is adding about 1,6 MB content to each mail I send via OWA"
### Description

I've installed Ghostery for Chrome and noticed that when I send emails via Outlook Web App my emails got larger and some recipients servers are blocking my emails because of invalid content in them.

I've send two emails with the exact same content, first without Ghostery disabled second with enabled.

Below are the differences:
Ghostery disabled:
email size:  39 KB
email length:

[2019-05-09 21:09] christophertino commented on #381
Looks like Ad Blocker rules.  @remusao any ideas?

[2019-05-09 21:10] christophertino commented on #376
This should be fixed in v8.3.4 which pushed to all stores today.  Please update and let us know if you still see the issue.

[2019-05-09 22:03] Eden12345 commented on #378
If you would like to install a production build of an extension as you would from https://addons.mozilla.org/en-US/firefox/extensions/, you would have to create a build and submit it to Mozilla for their approval before it could be released to the store (see: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Package_your_extension_ and https://developer.mozilla.org/en-US/docs/

[2019-05-10 07:13] sammacbeth commented on #381
These are Adblocker filter rules. We have changed the way we inject these so this should get fixed once browser-core is updated to 1.36.

[2019-05-13 08:05] Misiu commented on #381
@christophertino @sammacbeth thanks for looking into this.
When will browser-core get updated to 1.36?
Currently, I had to disable Ghostery to be able to use OWA.

[2019-05-15 12:05] homburg commented on #369
Seeing this with a custom `blend64=...` parameter as well

[2019-05-16 09:19] shana commented on #376
Yup, I've confirmed it's working in 8.3.4 :+1:

[2019-05-16 12:13] thany commented on #378
I'm not going to publish it. I just want to build the extension in such a way that it becomes an installable file. That step is missing from the script or documentation.

Why is that so much to ask??

[2019-05-16 15:02] Eden12345 commented on #378
When we submit builds to Mozilla for release, we submit them as a regular ZIP file for them to build into an XPI on their end, as the docs that I linked in my previous message explain. Since building the extension into an XPI is not part of our development or release process, we cannot prioritize adding an XPI builder into our repository at this time.

If you would like to build the extension into

[2019-05-20 13:47] #376 closed

[2019-05-20 13:47] #330 closed

[2019-05-21 08:07] steffenweber opened #382 "Cookies missing on very first request if website has service worker with fetch event handler"
### Description

If a website has a service worker with a non-trivial "fetch" event handler (i.e. it doesn't just do nothing but uses the [Fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch) to return a response) then the very first request to a website is sent without any cookies. (For more details on service workers in general see the MDN docs [Using Service Worker

[2019-05-21 12:24] Misiu commented on #381
@sammacbeth any updates?

[2019-05-21 16:49] maverick74 opened #383 "[Feature Request] Support for Firefox Accounts"
Would be nice to be able to sign in to the Ghostery Account using the Firefox Account in use by the browser

[2019-05-21 16:54] maverick74 commented on #22
@christophertino will there be any beta of v8.4 for us to test?

[2019-05-21 17:38] Shoe-Pi commented on #381
Just to chip in, I'm haivng the exact same issue right now, and much of my work email was getting bounced by the servers for malware before disabling it.

Why the heck is Ghostery even injecting things into my emails?

[2019-05-21 17:49] maverick74 commented on #339
@remusao I found this one:

https://www.washingtonpost.com/world/asia_pacific/chinas-huawei-says-it-has-long-prepared-for-americas-assault/2019/05/21/04b29c60-7bc2-11e9-b1f3-b233fe5811ef_story.html?noredirect=on&utm_term=.4d1557962d6f

Would you like that every website one finds be reported back to you here?

[2019-05-22 09:08] remusao commented on #381
@Shoe-Pi @Misiu,

Sorry for the late reply and thanks a lot for the detailed feedback on this one. I tried to reproduce the issue by sending emails with Ghostery adblocker enabled from `https://outlook.live.com` (is that correct?), but could not reproduce this so far.

What I assume is happening here is this:

* Ghostery's adblocker will do two things to block ads on pages:
  1. Block network requ

[2019-05-22 09:26] Misiu commented on #381
@remusao I've already disabled Ghostery for certain domains, but this is a temporary fix. BTW I had to add a domain without subfolder, for example, OWA in my case is available at `http://m.abc.pl/owa/` I had to add `m.abc.pl` because it didn't work with full URL (is that intended or is this a bug?)

I use old Exchange Server, maybe new OWA filters outgoing HTML and removes CSS.
Looking forward to

[2019-05-23 08:00] remusao commented on #22
@maverick74 It's true that giving the possibility to select custom lists would add some value for some users. On the other hand, Ghostery already gives quite some flexibility in terms of which trackers to block, etc. And in many ways this mechanism is more granular than selecting subscriptions for the adblocker.

Instead, there is another way with which we're playing right now: there could be a sw

[2019-05-23 09:31] maverick74 commented on #22
@remusao So there is no plans to allow [manually] adding extra filters, for the time being?

analyzing it, adding the possibility of customization (beside blocking capabilities) might give the "psychological" impact on users' mind that they are free to customize / add any extra rules and so it may also help in spreading the product.

On the other way, this would probably only affect "power users"

[2019-05-23 20:52] maverick74 commented on #22
update: I've found an example where ublock (with all blocks/lists enabled) is blocking side ads that ghostery is not:
https://www.thewatchcartoononline.tv/

[2019-05-23 21:19] remusao commented on #22
@maverick74 Thanks for the report, I can indeed reproduce this issue but it seems to be fixed in the most recent version of the adblocker (tested in latest browser-core and same default subscriptions). So it will definitely be fixed in next release and that does not appear to be an issue with the lists.

[2019-05-27 09:08] remusao commented on #339
@maverick74 Thanks for reporting these, that is very helpful for us. For now we will be using this issue tracker for adblocker issues as well. I just created an `adblocker` label which we can use to tag such issues. In the future, would you mind opening an issue whenever you encounter such issue so that we can keep the discussion focused on specific sites? (since it might be different issues). I w

[2019-05-28 15:27] sammacbeth commented on #382
Hi @steffenweber, thanks for reporting this.

This is an issue with the way we determine the origin of a tab. Previously we could assume that there was a `main_frame` request for each page loaded, which we could use as the tab's origin until the next `main_frame` request. However, service-workers have broken this assumption, as when a page's document is served from the service-worker, there is no

[2019-05-28 15:56] ghostwords commented on #382
If this is what I think it is, these are browser bugs.

- Chrome/Chromium: https://bugs.chromium.org/p/chromium/issues/detail?id=946908
- Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1499523

[2019-05-28 15:58] ghostwords commented on #382
@sammacbeth Where can I see your workaround?

[2019-05-28 16:13] sammacbeth commented on #382
@ghostwords Yes, these bugs are exactly this issue, thanks for the links.

The fix is currently in the upstream [browser-core](https://github.com/cliqz-oss/browser-core) project, and at internal review at the moment.

Here's the method I used:
 * Listen to `chrome.webNavigation.{onBeforeNavigate,onCommitted}` events.
 * When `onBeforeNavigate` fires for a tab, flag the tab as 'navigating'
 * If a

[2019-05-28 16:18] ghostwords commented on #382
Thanks! Will you link to the public PR once it becomes available?

[2019-06-02 19:26] fixedinmaster opened #389 "`Ghostery rewards` still displays ads from time to time when ghostery is paused"
### Description

`Ghostery rewards` still shows ads from time to time when I paused Ghostery

### Expected Behavior

`Ghostery rewards` should also be paused after I paused Ghostery

### Actual Behavior

`Ghostery rewards` is not paused after I paused Ghostery

### Versions

+ Browser: Google chrome  74.0.3729.169
+ OS: Windows 10

[2019-06-06 19:38] christophertino commented on #148
Thanks for the reminder.  We're working on a related feature to allow you to whitelist specific urls in Anti-Tracking, which should help this issue. That should be ready in v8.4.1 next month.

We're also working on a tighter integration of Anti-Tracking and the Ghostery tracker DB, so that the "allow" state in Ghostery is respected by both modules. This way we might not need to add that fourth "al

[2019-06-06 20:50] christophertino commented on #383
This could be done with [storage.sync](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage/sync), though we would need to consider the potential privacy/GDPR implications.

[2019-06-06 20:53] christophertino commented on #381
Just an update here, we're planning to have v8.4 released the week of June 17th.

[2019-06-06 21:08] christophertino commented on #22
@maverick74 related to this topic, we'll be adding the ability to create custom _tracker_ patterns in one of our next releases (~v8.4.5). It's not the same as ad blocker filter lists but it will allow you to block additional URL patterns not currently in the Ghostery DB.

[2019-06-06 21:32] maverick74 commented on #22
@christophertino It was not exactly what i was hopping for, but will wait and see how it works. :)

Is there any particular reason to discard ad blocker filter lists and use URL patterns instead?

[2019-06-14 11:28] #382 closed

[2019-06-17 07:53] gmeades opened #395 "ghostery stopped working (greyed out) in Cliqz Browser"
### Description

When I start the Cliqz (Firefox based) Browser, ghostery does not run.  It has stopped working, and is greyed out.  Removing the ghostery addon and reinstalling it makes it work initially, only to have it fail again after being in use for a while.  There seems to be no way to manually refresh or restart the addon.

### Expected Behavior

Ghostery icon should be active, with the ic

[2019-06-17 14:31] Eden12345 commented on #395
Hey @gmeades, thanks for reaching out about this. We haven't been able to reproduce this issue on our end after some initial testing. I know you mentioned that you've tried uninstalling and reinstalling the Ghostery extension — have you tried uninstalling and reinstalling the Cliqz browser itself?

[2019-06-19 05:27] gmeades commented on #395
No, I didn't try uninstalling and reinstalling the 32-bit cliqz browser
as I didn't want to lose all of my configuration,
bookmarks, history, etc. and the only thing not working or ever giving
me any problems has been the ghostery addon
going inactive on me.

What I did do however, and seems to have worked as far as fixing
ghostery, was I installed the 64-bit version of cliqz
on my computer.  Ghos

[2019-06-19 21:04] Eden12345 commented on #395
Thanks for following up with more info about the steps that you've taken here. At the very least, you should be able to transfer bookmarks from your 32-bit version to your 64-bit version by following the steps outlined here: https://cliqz.com/en/magazine/tutorial-import-bookmarks-cliqz-browser. You'll need to export them as HTML from the 32-bit version and import them as such into the 64-bit versi

[2019-06-19 22:24] gmeades commented on #395
Thanks Ethan...  that got my bookmarks moved over...
I was able to import my login credentials and plugin's from chrome and
firefox that I still have on the machine...
and manually changed most, if not all, of the configuration options in
settings...

Which I think pretty much only leaves my browser history to deal with
now....
I generally have a pretty substantial history as I do research on
thin

[2019-06-26 09:22] alver-cliqz commented on #395
Good day. I'm a Cliqz desktop browser developer, so I will try to help you.

First of all, be default all user information saved in profiles folder here: %AppData%\CLIQZ. Both 32 and 64-bit versions use the same location to work with user's information.

Can you please do next:
1. Start browser, do as least action as possible and wait till Ghostery icon will be grey.
2. Open Browser Toolbox (with

[2019-06-26 20:29] #389 closed

[2019-06-28 04:09] AaronLavers opened #406 "Uncaught TypeError: c.querySelectorAll on every page"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

When Ghostery extension is enabled in Chrome 75.0.3770.100, every page returns a massive string of identical errors:

` content_script_bundle.js:16 Uncaught TypeError: c.querySelectorAll is not a function at MutationObserver.<anonymous> (content_script_bundle.js:16)
`

The script it's exper

[2019-06-28 08:23] VdeJong commented on #406
I encounter the same issue on macOS Mojave and the same chrome version.

[2019-06-28 08:49] remusao commented on #406
Hi @AaronLavers @VdeJong, thanks for your report. We were able to identify and fix this issue and we will ship it with an update ASAP.

[2019-07-02 16:29] #381 closed

[2019-07-02 16:29] #12 closed

[2019-07-04 05:58] MarkoSulamagi commented on #406
Hi @remusao. Any thoughts on when the fix will be shipped? :)

[2019-07-04 09:13] remusao commented on #406
@MarkoSulamagi, the fix was tested and released upstream in `browser-core` and now needs to be shipped via a new Ghostery extension release. @christophertino will know better about the precise release schedule.

[2019-07-14 15:56] requiemmg opened #412 "Ghostery breaks Outlook Web Access"
### Description

My work Outlook Web Access Account suddenly (around 2 or 3 months ago) started to throw generic errors. ("Unexpected error sending mail" or "Error 413 network connection not found") All email I sent to external adresses were rejected as Spam by an external mail-relay. This didd not happen when using Outlook (Full Client), another browser or when disabling Ghostery.

### Expected B

[2019-07-15 09:11] kaiwa commented on #406
I'm going to remove ghostery for now till the fix is released. I'm a web dev and can't work if errors are popping up in the console constantly.

[2019-07-15 17:26] gurgun-dayioglu opened #413 "Block Google Tracking"
### Description
Description: After clicking on any search result displayed by Google there seems to be a GET request to Google before it starts loading the webpage.

### Actual Behavior

[When clicked on a link such as: https://tr-tr.facebook.com/ it first makes a GET request to https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=2ahUKEwjb9Py0xKzjAhWMFMAKHe6iAMYQFjAAegQIBhAC&url=ht

[2019-07-16 04:16] Jormosaurusrex commented on #406
Please, please fix this.  It makes my work almost impossible.

[2019-07-16 12:45] simoozzay commented on #406
Any update on the update @christophertino?
Have to agree with @kaiwa and sadly have to deactivate ghostery until the fix is released.

[2019-07-17 21:16] christophertino commented on #406
@simoozzay We are scrambling to squeeze a few more bugs into this release and then hopefully get everything into testing tomorrow.  Apologies for the delay.

[2019-07-18 00:35] AaronLavers commented on #406
Appreciate it guys :)

[2019-07-18 07:16] simoozzay commented on #406
Thx @christophertino for the info, appreciate it! Would like to use ghostery again soon ;)
Aaand btw keep up your great work, you're doing great with ghostery. Love this tool!

[2019-07-18 18:48] WesselKroos commented on #406
Btw, for the webdevelopers using chrome. You can filter out the console errors in the meantime:
![image](https://user-images.githubusercontent.com/31220528/61483567-5c006480-a99d-11e9-9408-da9b3701f977.png)

[2019-07-23 14:28] gurgun-dayioglu commented on #413
Closing since it doesn't seem like the type of protection Ghostery would offer

[2019-07-23 14:28] #413 closed

[2019-07-26 10:57] krishan commented on #148
Ghostery blocks "Honeybadger" by default, which is not really a tracker IMHO, but an error reporting tool (which I rely on heavily for web development). I'm aware that others may feel that "Honeybadger" is tracking them, so I have no problem with the default.

But having some way to globally allow a tools like "Honeybadger" on _all_ sites would be nice for those cases, where the line between "legi

[2019-07-26 15:55] adewes opened #428 "Allow introspection of data sent to HPN endpoint."
### Description

Ghostery seems to use elliptic-key cryptography to encrypt payloads that are sent to the HPN endpoint. This makes it very hard for users to detect if any sensitive information is being sent to the endpoint.

### Expected Behavior

A way to see / understand what information is sent to the endpoint. Not allowing users to introspect browsing data that is collected with high frequency

[2019-07-26 17:17] philipp-classen commented on #428
Hi Andreas,

As you mentioned we do not have a transparency dashboard like Cliqz, but there are already a few ways to inspect data being sent back.

With the following steps, you can enable logging in HPN. It will allow you to see the message before it goes through the HPN protocol:

For Firefox:

1. Go to `about:debugging`
2. Make sure that the "Enable add-on debugging" box is checked
3. Go to Gh

[2019-07-29 07:24] jaewonYoon commented on #406
For the frontend developer who are suffering not visible your elements,
I had same issues c.querySelectorAll is not function.....
however In my case, problem was my whole <div> elements has class start with 'ad'  display none.
after I change class name start with keywords 'ad' to something like 'co' or 'biz'
problem fixed .

I know it's just tricky solution, but hope this might help some developer

[2019-08-01 03:49] artscoop opened #434 "Ghostery Firefox crept up to 900MB RAM usage"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

The Ghostery plugin for Firefox ate up to a stable 900MB of RAM. Happened while using only one open tab (Tweetdeck) in Firefox 69 Linux.

### Expected Behavior

The Ghostery plugin should not leak, duplicate, or indefinitely accumulate data on dynamic pages.

### Actual Behavior

The Ghoste

[2019-08-07 16:37] christophertino commented on #434
This may be related to a Firefox OOM bug originally reported on Windows:

https://bugzilla.mozilla.org/show_bug.cgi?id=1519123

We haven't had any luck reproducing it, but perhaps looking at Linux may provide some insight. Thanks for reporting.

[2019-08-07 17:45] christophertino commented on #412
This is related to #381 which was fixed in v8.4.1 for Firefox. It's currently pending review from Mozilla and should be available within the next few days.

[2019-08-07 17:48] christophertino commented on #406
Ghostery 8.4.1 was approved and published to the Chrome store today.  Please let us know if this issue is still occurring.  Thanks!

[2019-08-07 21:08] christophertino commented on #413
Correct, our focus is primarily on third-party tracking. We would only intercept these link shims (or ping trackers) if they were being sent off to a third party.

[2019-08-07 21:47] christophertino commented on #22
We discussed internally and decided that for the first iteration of this feature we'll concentrate on tracker pattern URLs, since that has always been the primary focus of Ghostery. It's also been a frequent request from people who use Ghostery for web-dev and site-audits. But that's not to say we won't also look at custom filter lists for the Ad-Blocker. I've added that feature as a Discovery opt

[2019-08-08 01:55] AaronLavers commented on #406
Appears to be resolved on Chrome 76.0.3809.100 (Official Build) (Win 64-bit)

[2019-08-09 12:30] #406 closed

[2019-08-10 12:18] mutrised commented on #197
Hi,
I ended up here looking for collector-hpn.privacy.ghostery.net and collector-hpn.ghostery.net domains.
I keep seeing today DNS requests every 4 or 5 minutes. More than 600 request is less than 12 hours.
I try to keeps my traffic as low as possible since I'm currently using a low quality 3G connection.
I'm on firefox, and Ghostery is up to date (last updated on june 5th).

Is there a way to inc

[2019-08-12 12:09] philipp-classen commented on #197
Hi @mutrised

Normally, DNS requests only happen before a HTTPS request. As in terms of bandwidth use, the HTTPS requests are heavier than the relatively small DNS requests, looking at the actual requests could give more insights.

Note that the discussions in this thread refer to an older version of the extension. In the current system, there are no calls to get the proxy lists any more.

We stil

[2019-08-21 13:57] bartje321 opened #438 "Ghostery replaces se param of azure Shared access signature"
### Description

Ghostery replaces se param of azure [Shared access signature](https://docs.microsoft.com/en-us/rest/api/storageservices/create-user-delegation-sas)

### Expected Behavior
Load image: (200)
https://cdn-prowise.azureedge.net/data-image/21730894/file.jpg?sv=2013-08-15&se=2029-08-28T09%3A36%3A00Z&sr=b&sp=r&sig=HNxEW7hq5ScjRRVBLxTxWloWkPeeZWZzJ4kai3wOHEM%3D&rsct=image%2Fjpeg

### Actua

[2019-08-22 14:29] christophertino commented on #42
The Ghostery Lite app extension source code for Safari is available here:

[https://github.com/ghostery/GhosterySafari](https://github.com/ghostery/GhosterySafari)

[2019-08-22 14:29] #42 closed

[2019-08-22 16:45] sammacbeth commented on #438
Thanks for reporting. I've whitelisted this parameter for the time being, so this should no longer get replaced. I'll investigate why this is a false positive.

[2019-08-26 14:39] grgnday commented on #22
Ghostery is really one step away from being the main extension to be downloaded for privacy by not having the functionality to add more filters. Some of the most important use cases include language specific filters (both AdGuard and Easylist have them) and annoyance filters. I understand this would require resources to be able to support different syntax (see AdGuard filters) but in the end this

[2019-08-29 13:31] christophertino commented on #412
Fixed in v8.4.2

[2019-08-29 13:31] #412 closed

[2019-08-29 13:33] christophertino commented on #434
Could you please try updating to Ghostery 8.4.2 and let us know if you are still seeing this memory issue?

[2019-08-31 10:06] artscoop commented on #434
Hello, after 2 days trying Ghostery on two computers (Firefox 70 Linux), I couldn't reach 20MB RAM usage after playing with a few pages. Better, the average memory usage for the extension seems to wander around 13MB (10.7 after a garbage collection).
That's a really great job you all did on this 👌

[2019-08-31 13:32] christophertino commented on #434
That's great to hear. Thanks again for reporting.  Please let us know if you come across any other issues.

[2019-08-31 13:32] #434 closed

[2019-08-31 15:52] remusao commented on #22
Hi @grgnday,

Thanks for the great feedback. I work on Ghostery's [adblocker](https://github.com/cliqz-oss/adblocker) and would like to give a bit of insight about supporting extra lists. We've been discussing this topic multiple times internally in the past and there are a few important things to consider:

- There is technically nothing that prevents us from enabling more lists in the extension

[2019-08-31 20:01] grgnday commented on #22
I must admit. I should have checked if Ghostery would enable language specific filters before commenting something that you have probably seen multiple times now :) and I really want to thank you again for answering with such an informative manner. One better informed suggestion then, maybe also consider enabling AdGuard’s language specific filters too if not already. They are just like easylist’s

[2019-08-31 21:41] maverick74 commented on #22
I was also not aware of this "automatic list enabler" feature. That is very nice!!! Maybe that could be a "selling point":

Ghostery Automatically manages your adblocking lists based on your usage so that you don't have to do it yourself.

As for the "enable anti-annoyance mode", being a fan of "the more options, the better" philosophy I would welcome the option, however... I have came to learn -

[2019-09-04 13:48] #357 closed

[2019-09-04 13:50] #13 closed

[2019-09-08 07:34] grgnday commented on #22
My suggestion would be to use AdGuard Language filters anywhere EasyList is not available as a fallback filter so that more languages would be covered by Ghostery.

[2019-09-10 06:59] qarqun opened #448 "www.rlslog.net popup windows trackers not blocked by Ghostery"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

popup ad windows still appear even though ghostery extension have set to block all trackers.

### Expected Behavior

[What you expected to happen]

suppose popup windows blocked. looks like some trackers missed by ghostery.

[What actually happened]

### Steps to Reproduce

1. Open this URL

[2019-09-13 14:26] ondrahlavac opened #449 "Ghostery findings not showing correctly in Firefox when launched from overflow menu"
### Description

In the browser toolbar, when Ghostery icon is moved to the overflow menu in Firefox, the detailed view is broken and won't show due to lack of space.
See attached images.

**Correct view:**
![Image](https://user-images.githubusercontent.com/510361/64869972-bc7cec80-d642-11e9-92e7-eeaf5a4ff04f.png)
**Ghostery moved to *Overflow menu***
![Image](https://user-images.githubusercontent

[2019-09-13 14:42] babant commented on #449
Same thing happens in FF 69.0 (64-bit)

[2019-09-13 14:43] babant commented on #449
Not a problem for me. Just thought you should know about it. ;-)

[2019-09-18 00:04] qarqun commented on #448
Please block this:

`http://35.224.227.218/*`
`http://35.224.227.218/NjQxNDM1OTEwNjA5LzY0MTQzNzM1NzI4Ni8wZW9jenFvdm5k`
`http://35.224.227.218/MjM3NzY2ODg5MTA3LzIzNzc2ODMzNTc4NC8wbTlpa3Jxbndp`

`http://35.224.227.218/script/s2iurl.php?stamat=m%7C%2C%2CQ2ESIhZnoGU3BZ9GH0dEdHP3xP.afc%2CnYDQXbyFsILaWL_zscGxJoaxd6Y6fMqZ0RcRt1MjnqhmqHrOzBqfYzxdbeNS0HbMcDa1zK9KKNEejV9rzz0yuq8Rj5BMk0DAmWsn7fttSIY5AGVLcBe7

[2019-09-25 15:29] christophertino commented on #449
Thanks for reporting.  This has been a known issue for a little while. We have plans to pull out the old Foundation framework and when we do, we'll make the panel view responsive.

[2019-09-30 19:26] nikita81 opened #456 "Cliqz - Ghostery Global Blocking list empty - Zero trackers blocked"
On Cliqz Browser Global Blocking list is empty so trackers are not blocked and counter is always at 0.
I've tried to reinstall the extension but it behave the same way.
It works fine with Chrome and Firefox.

+ Browser: Cliqz
+ OS: Linux Mint 19.1 and Windows 10

On Windows 10 I've done a fresh installation of the cliqz browser as well.

[2019-10-01 15:09] christophertino commented on #456
This is caused by a bug that clears the Ghostery settings from memory each time the browser starts. You may also see the Ghostery on-boarding hub open each time you start Cliqz.

Partially fixed by https://github.com/ghostery/ghostery-extension/commit/298cd007aacf52226a2f8f0f774543b21ba55556

[2019-10-14 12:02] TheAifam5 opened #459 "Application with identifier 'ghostery' was not found in the directory - Azure AD"
### Description

I am developing an application where the tokens are refreshed in background using IFRAME. Ghostery does some things which makes the whole site to redirect to OAuth2 authentication page with `&client_id=ghostery` query. It happens when the token is going to be refreshed.
My application uses AzureAD.

### Expected Behavior

Should not redirect with `&client_id=ghostery`.

### Actual

[2019-10-28 14:56] geofflau opened #465 "firefox startup problem"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description
Ghostery now opening its home page automatically

### Expected Behavior

It not to open automatically on browser startup

### Actual Behavior

Ghostery now opening its home page as an additional window every single time on Firefox startup

### Steps to Reproduce

1. start up Firefox
2. [Seco

[2019-11-08 10:36] gdoron opened #470 "Trusting the "localhost" site doesn't work"
### Description

I trust localhost:3000, getting OK green color. Refresh the page and my resources are back on blocked.

### Versions

+ Browser: 78.0.3904.87
+ OS: MacOS

[2019-11-09 17:12] christophertino commented on #465
Related to #456 which is fixed in v8.4.3. Unfortunately, that release is still pending Firefox review.

[2019-11-09 20:20] christophertino commented on #459
If you see a query string value replaced with `ghostery`, it generally means our anti-tracking has flagged the value as a UUID.  However, it will often catch false positives on development sites because the volume of users is low. This should not be an issue for your application in production. Regardless, please send over the full Azure URL that's being sanitized and we will have a look (remove an

[2019-11-09 20:55] christophertino commented on #470
It looks like the port number is messing up the whitelist URL matching. It seems to work fine with just `localhost`.  I'll get a bug ticket made up for this.

As a suggestion to help in the meantime, you could set up Apache locally with a Reverse Proxy and give your application a test URL instead of localhost.

[code]

[2019-11-13 15:32] kospl opened #472 "Ghostery prevented a redirect on Strava.com editing activity page"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

After clicking Save on https://www.strava.com/activities/ACTIVITY_ID/edit page Ghostery blocks site from displaying:

![image](https://user-images.githubusercontent.com/26386660/68778021-23c81480-0665-11ea-997d-c43bf9e654d0.png)

### Expected Behavior

No blocking redirects.

### Actual Beh

[2019-11-19 09:22] domdevitto opened #475 "Massive Virtual Memory over-allocation"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description
When adding/using release (8.4.2) extension from the Firefox extension site, to Firefox 70.0.1 (64bit) for MacOS, on MacOS 10.11.6 - the Virtual memory used by this extension (within the firefox plugin process) goes from 6gb to 12gb or even as high as 36Gb.

Before uninstall/re-install it wa

[2019-11-20 17:36] gurgunday opened #476 "1st-party tracker blocking"
Since a week or so, cases of 1st-party tracking that seems to be unblockable started appearing. There have been discussions on places such as uBlock Origin's GitHub page. (More can be found [here](https://github.com/uBlockOrigin/uBlock-issues/issues/780))

Is Ghostery equipped to handle these first party tracking scripts and if not, is there anything that can be done to prevent this kind of tracki

[2019-11-20 18:30] remusao commented on #476
Hey @gurgunday!

We are following these developments very closely. We're still assessing what the best course of action and how big of a privacy issue this first-party DNS method is. But we will update you on the status ASAP. You can be assured that if something needs to be fixed we will push an update very soon.

Thanks for opening an issue!

Rémi

[2019-11-20 20:19] dimon19781106 opened #477 "1"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

[Description of the bug or feature]

### Expected Behavior

[What you expected to happen]

### Actual Behavior

[What actually happened]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

### Versions

+ Browser:
+ OS:
+ Node:
+ NPM:

[2019-11-21 15:04] reginaspectrlor opened #478 "Blockadblock"
Blockadblock attacked again, ghostery don't bypass the wall.

[2019-11-21 15:05] remusao commented on #478
Hi @reginaspectrlor,

Could you please provide more details about the issue?

Thanks

[2019-11-21 15:26] reginaspectrlor commented on #478
It's simple, sites using blockadblock are blocking ghostery from acessing them.

[2019-11-21 15:27] reginaspectrlor commented on #478
for example - https://pipocas.tv/

[2019-11-21 15:28] remusao commented on #478
Thanks! I will have a look.

[2019-11-21 15:31] reginaspectrlor commented on #478
Thank you.

[2019-11-21 15:47] remusao commented on #478
@reginaspectrlor the bug was identified and a fix is being deployed right now. The issue was in our rules builder so this will not require an update of the extension. Things should fix themselves for you in up to a few hours. Thanks again for reporting the issue!

[2019-11-21 15:57] reginaspectrlor commented on #478
Thank you,

Ghostery have plans to add something in the near future to take care of "cookie warnings" and popups?

[2019-11-21 18:26] christophertino commented on #456
This should be fixed in v8.4.5 which was approved today by AMO.  Please let us know if you still see this issue.

[2019-11-21 18:26] #456 closed

[2019-11-21 18:26] christophertino commented on #465
This should be fixed in v8.4.5 which was approved today by AMO.  Please let us know if you still see this issue.

[2019-11-21 18:26] #465 closed

[2019-11-23 03:57] reginaspectrlor opened #479 "Nónio - PT users"
In March 2017 came the first news about the Nónio platform.

Some of the largest national media groups have teamed up to create a single sign-in platform, Nónio, to "deliver more personalized content with more security and quality."

In order for this to happen, adherent websites need to collect and store vast amounts of data from each reader. In this transitional period, adhering websites are ask

[2019-11-23 17:00] gdoron commented on #470
If you can point me to the regrex place, I'll try to fix it and open a PR.
@christophertino

[2019-11-24 10:16] gurgunday commented on #476
Seems like a [security concern](https://twitter.com/konarkmodi/status/1198541310807986176) as well as a privacy concern. Yet all the major tracker companies have started to support it.

[2019-11-24 12:28] remusao commented on #476
Yes indeed. Not sure if you noticed but @konark-cliqz who wrote the tweet is a co-worker of mine at Ghostery/Cliqz and we are currently running an in-depth investigation of all negative consequences that 1st party tracking can have.

In parallel, we have already developed some tooling to automatically and continuously uncover usage of this pattern across the Internet to generate blocking rules tha

[2019-11-24 13:33] gurgunday commented on #476
Wow, I sure hadn't noticed that! Seems like Cliqz really has a great team that knows what they are doing. Thanks for your answer and as always, keep up the great work.

[2019-11-25 16:32] remusao commented on #478
@reginaspectrlor We have been developing a new feature called `autoconsent` which is currently only available in [Cliqz browser](https://cliqz.com/en/magazine/cookie-pop-up-blocker-cliqz-automatically-denies-consent-requests). It allows to both hide cookie notices but also *automatically opt you out of all categories* on websites you visit! Multiple users already requested this feature for Ghoster

[2019-11-26 21:15] reginaspectrlor commented on #478
So the popup plague is discarded in ghostery, you avoided that one.

So you are developing a half adblocker in that manner...2030 eta?

You could drop in benchmarks if you add more feautures. lol

[2019-12-04 02:24] christophertino commented on #470
Thanks for the offer!  Take a look at `checkSiteWhitelist` here https://github.com/ghostery/ghostery-extension/blob/7a2d7083a290ff06a546077953d16193dcb65a4c/src/classes/Policy.js#L64

I'm guessing the url parser in that function (`processUrl`) doesn't like localhost.

[2019-12-04 02:38] christophertino commented on #475
Is this from the FirefoxCP WebExtensions process? I'm showing 13GB of virtual memory on my system as well. That seems excessive.

[2019-12-09 12:40] ADDISON74 opened #481 "High memory usage"
### Description
Ghostery is using a lot of RAM.

### Expected Behavior
Ghostery should have a reasonable usage. I can accept 100 MB maximum 150 MB.

### Actual Behavior
In my case it is using about 450 MB and the best value was 326 MB.

### Steps to Reproduce
1. Chrome latest version on Windows 10 Pro. No other extensions except Ghostery
2. No URL in Address bar just Chrome home page.
3. Shift + E

[2019-12-09 17:58] ghost opened #482 "Suggestion: Remove the Purple Box and unify the panels"
# Description
This was originally a suggestion for the deletion of Purple Box that's turned on by default, sits on the bottom right side of the web page concealing elements from time to time (usually a "Customer Interaction" widget), and aims to show trackers at a glance after clicking on it.

I want this to be more of a discussion with the devs rather than a request. As it’s them who’s going to m

[2020-01-07 15:37] spbuda commented on #449
How can you label this "feature enhancement" when the feature doesn't work in its current state? That seems pretty short sighted to me. I mean, I guess it's maybe technically true, but that's a completely ludicrous labeling.

[2020-01-10 00:29] EoinGriffin-AI commented on #470
As a workaround until the bug is fixed, as long as you know the port number it's possible to manually enter that into the settings:
![image](https://user-images.githubusercontent.com/6333375/72115826-28274b80-32fd-11ea-8c1c-25874b8b3b80.png)

[2020-01-10 01:28] lachlan-00 commented on #482
The purple box should be removed completely; it's absolutely useless.

[2020-01-15 16:00] suederade commented on #481
I'm getting the same problem except it's using over 2GB of memory.

[2020-01-27 15:50] christophertino commented on #482
Thanks for the feedback. I just had to double check the code because I thought we had disabled the purplebox by default for new installs. I know we had talked about it internally before we launched Ghostery 8.

We do have users who like the purplebox as a site diagnostic tool. But we should check to see how big that group is, and revisit the on/off-by-default discussion.

cc @adamarielaboy for UX

[2020-01-31 16:54] salieri commented on #43
This issue remains with Ghostery 8.4.6 on Google Chrome 80.0.3987.78. You log in to Ghostery, forget it for a few days or a week, and when you check back you are logged out.

[2020-02-01 17:07] gurgunday commented on #481
Wow.. mine is **much** lower. I'm on Firefox though. Maybe a browser related issue?

[2020-02-02 06:58] gurgunday commented on #482
Hi, it’s just a suggestion based on this sentence but maybe it would be better if anything related to website diagnostics was moved to Ghostery Insights like the purple box. Casual users who wish to see a generalized view of a webpage would just open the Ghostery panel to check.

[2020-02-03 17:42] #395 closed

[2020-02-03 17:42] #459 closed

[2020-02-05 12:38] ghost opened #493 "Add option to whitelist website from adblocking but not from anti tracking"
Please add the option so users can whitelist websites from the adblocking feature individually (so I can support them with advertising) but keep the anti tracking protection enabled (so private data points are anonymized from networks requests). Basically I am asking for the option to use the adblocking and anti tracking tools of Ghostery on a per website case instead of the actual on/off for all

[2020-02-08 05:25] gurgunday opened #496 "Adblock whitelisting without disabling anti-tracking"
Hello everyone! After playing with Cliqz Browser for a bit, it wasn’t hard to see one of its flagship features is anti-tracking. No surprises there but what could really set Ghostery apart from other adblock/privacy extensions on all browsers is having that simple toggle to disable ad and/or tracking blocking for specific websites that the user wants to support (even on Youtube) without disabling

[2020-02-08 06:13] gurgunday commented on #496
Wow it’s so funny that literally the same request was made #493 a few days ago. Honestly this wasn’t there when I initially thought about requesting it so I didn’t even check before posting mine. Closing this now and commenting there...

[2020-02-08 06:13] #496 closed

[2020-02-08 06:27] gurgunday commented on #493
This is a great feature to have and one I had opened an issue about before even checking it here. Since mine is closed now I just want to add something here.

Having an option to disable blocking in terms of ads and trackers but **not** anti tracking would put Ghostery in a unique position among other privacy/adblock extensions that just have an all or nothing approach in terms of blocking ads and

[2020-02-16 13:06] SilverSaw commented on #449
I just want to remind that this is still an issue today !

[2020-02-25 01:52] rfalanga opened #500 "How do I stop the Ghostery popup to show up?"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description

Every time I open my browser The Ghostery popup window comes up, in the way. No matter how many times I, "Check out the sweet new features and defect fixes in this release" it _**never stops bothering me every time I open the browser!!!**_

### Expected Behavior

I expect that once I've vis

[2020-02-28 16:58] gagzou opened #502 "Problem with explicit proxy"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description
**This problem is only on chrome** (not on Firefox or Edge).

All plugin options are disabled (normally, no filtering).
With certain websites (google drive for example), the chrome plugin blocks certain scripts.
Chrome does not respond to http 407 requests (proxy identification).
By disablin

[2020-02-29 07:11] gurgunday commented on #476
The latest [release](https://github.com/gorhill/uBlock/releases/tag/1.25.0) of uBlock Origin seems to have fixed this issue.

[2020-02-29 10:42] remusao commented on #476
Hey, sorry for not updating the ticket earlier. We have released this "fix" already in Cliqz browser last November and it is in the pipeline for next Ghostery release as well. In the meanwhile we also pushed custom rules to all Ghostery users. We analyze websites on the backend to detect cases of 1st party tracking and create custom rules to block these. The rules have been pushed last November as

[2020-02-29 15:21] gurgunday commented on #476
Thanks a lot for the update! We should obviously close the issue then.

Good thing I use Cliqz Browser at home, I'd love to support Ghostery with a subscription on Firefox. However, unfortunately it’s not available in many countries.

[2020-02-29 15:21] #476 closed

[2020-03-02 14:47] christophertino commented on #500
Are you getting a new browser tab opening at launch or is it a little window in the top-right corner? Send over a screenshot if you can.

If it's the latter, try going into Ghostery settings > Notifications > turn off the first four options.

[2020-03-02 14:50] christophertino commented on #493
I like this option too. The difficulty will be implementing it in such a way that it's clear to the user.

[2020-03-02 14:55] christophertino commented on #43
Are you clearing cookies on browser close? That would cause a logout. Another thing to consider is that the refresh token expires after 7 days. So if you don't open your browser for a week you would get logged out of Ghostery.

[2020-03-03 02:04] rfalanga commented on #500
Its in the upper right corner. Its not what I would call small.

[cid:image001.png@01D5F0C5.681ECC10]

I was just searching, but it doesn’t matter if I search, or go to some link I’ve saved or one I’ve sent to myself, it is there, in the upper right all the time. I’ve really come to hate it and am an inch away from uninstalling the Ghostry add-in. What’s the point of an add-in that’s supposed to h

[2020-03-03 09:01] Haraldson commented on #470
@EoinGriffin-AI Where’s this setting now? Or does it only apply for the Plus version?

[2020-03-03 14:28] christophertino commented on #500
Yea that's definitely not intended behavior. Our next release (v8.4.7) cleans things up for the new Chromium Edge (#492).  Can you try turning off notifications as I mentioned previously (Ghostery settings > Notifications > turn off the first four options) to see if that helps temporarily?

[2020-03-03 20:36] yokoffing opened #504 "The New Yorker: Annoying Banner"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description
The New Yorker has an annoying banner that takes up half the page when you click on an article asking the user to subscribe. Please remove.

### Expected Behavior

Force Ghostery to hide the banner.

### Actual Behavior

### Steps to Reproduce

1. Go to `https://www.newyorker.com/`
2. Click

[2020-03-03 21:17] yokoffing opened #505 "The New Yorker: Video Ad autoplay"
##### Please read the [CONTRIBUTING](../CONTRIBUTING.md) guide before submitting an issue.

### Description
_Ghostery is set to block all tracker categories._

If you click on any article while browsing The New Yorker, you can scroll down far enough and see a video in the middle of the page.

1. The video always starts with a pre-roll ad.
2. If Firefox's global autoplay setting is set to is set to

[2020-03-04 18:44] hjstephens09 commented on #504
Using [Bypass Paywalls Clean](https://github.com/magnolia1234/bypass-paywalls-firefox-clean) gets rid of this issue, but it'd be preferred for Ghostery to add a cosmetic filter to deal with this outside of using another extension.

[2020-03-05 11:19] remusao commented on #504
Hi @hjstephens09,

Thank you so much for taking the time to open an issue. This feature request is related to another discussion in the past (you can find the ticket here: https://github.com/ghostery/ghostery-extension/issues/22). I think it would be worth discussing this seriously again and maybe consider including this in next Ghostery release. @christophertino what do you think?

[2020-03-06 19:44] hjstephens09 commented on #504
So, every three months or so, I check on Ghostery and test it out on Firefox and Chrome, and usually tinker with the CLIQZ browser too. Despite the advantages of speed and technology I get with using Ghostery over uBlock Origin, I am always disappointed with the amount of annoyances I run into using just Ghostery. (The same can be said for the Brave browser shields, in this case).

[Rémi stated la

[2020-03-07 10:37] Bouke opened #508 "High power usage on macOS / Safari?"
### Description

According to Activity Monitor, in the past 12 hours the power consumption of "Ghostery Lite Safari Extension (Safari)" was 7.4. Safari itself was at 3.8. What's causing such a high power consumption, is this to be expected?

<img width="852" alt="image" src="https://user-images.githubusercontent.com/235882/76141809-01b92e80-6068-11ea-9d53-a9d722e30b75.png">

### Expected Behavior

[2020-03-11 14:47] salieri commented on #43
@christophertino I don't think either one of those accurately describes my case. I certainly don't clear cookies on browser close, and I think this issue occurs often enough that the second one is not the case either, but it's hard to be sure. I'll check that.

On that note, though: If Ghostery silently discards an expired cookie and doesn't inform the user that their session is no longer valid, t

[2020-03-13 14:05] MahatmaFatalError commented on #148
any news here? _"Trust on all sites"_ would be really great!

[2020-03-14 14:44] tankmann commented on #43
I have exact the same issue... I only recognize it when I get an offer showing and then I remember or I'm logged out again. Using computer / browser every day, don't delete cookies often... Only thing I have is two location profiles on my mac I switch (office and home), but that can't be the reason. It's actually really annoying, I'm paying and then have to re-login all the time.

[2020-03-18 14:34] christophertino commented on #500
Our Edge release was approved today. Could you update and let me know if this resolves the issue?

[2020-03-18 21:32] christophertino commented on #148
Nothing yet, unfortunately. We're now looking to migrate our blocking over to `declarativeNetRequest`, as per the Chrome manifest v3 proposal. I'm hopeful that we'll be able to resolve this "trust on all sites" issue using [dynamic rules](https://developer.chrome.com/extensions/declarativeNetRequest).

[2020-03-19 00:31] rfalanga commented on #500
How do I update the Edge release? I thought that might happen automatically, but if I'm wrong I'd be happy to give it a try.

[2020-03-19 16:05] luisAtMonday opened #513 "Ghostery for Chrome 8.4.7 fails to recognize Matomo Tracker in some websites while recogninizing it in others"
### Description

I'm one of the web developers working on these 3 sites, all for the same client:

https://www.dieversicherer.de/versicherer
https://gdv.de/de
https://en.gdv.de/

All of these sites have Matomo-Tracking built in, with the expected script in the head of each site:

<script type="text/javascript" async defer src="//analytic.gdv.de/matomo.js"></script>

### Expected Behavior

Ghostery

[2020-03-20 07:53] crisp-tweakers opened #514 "Sessioncookie being randomly dropped/blocked Tweakers.net"
Following the latest release of the Ghostery extension (version 8.4.7) for Chrome we receive bugreports from multiple users that they are randomly being logged out from our website, https://tweakers.net and https://gathering.tweakers.net

The common denominator for all these reports is the fact that all these users are using Chrome version 80 and the latest version of the Ghostery extension. White

[2020-03-20 10:31] dennisenderink commented on #514
I'm one of the affected users on Tweakers.net; feel free to ask me if you need more information on this matter.

[2020-03-20 15:55] sammacbeth commented on #514
Hi, thanks for reporting. We did ship some changes to be a bit more aggressive with cookie blocking in the last version, however we should still only block third-party cookies from domains on our tracker list.

From your description it sounds like a first party cookie is being dropped, and also your domain is not on our tracker list, so we certainly should not be blocking that cookie. This may the

[2020-03-20 19:41] crisp-tweakers commented on #514
Hi, thanks for the prompt reply. I shall share this information with the users that reported this problem so hopefully we will be able to get the data necessary to debug this situation. I'll get back as soon as we have additional information.

[2020-03-21 07:26] grgnday commented on #514
Whatever the problem is, I hope it isn't about the more aggressive cookie blocking. I really loved that update.

[2020-03-21 07:32] grgnday commented on #513
For me, it caught the one in the first website. However, I can confirm that nothing is shown on the other ones.

[2020-03-21 15:41] Eegee commented on #514
I have the same problem on tweakers.net but also on steamgifts.com. Since I'm still logged in for now on tweakers.net I just tried steamgifts.com and immediately got this error:
`_generated_background_page.html:1 Error in event handler: TypeError: Error in invocation of tabs.executeScript(optional integer tabId, extensionTypes.InjectDetails details, optional function callback): Error at parameter

[2020-03-23 19:01] JorgeSivil opened #515 "Ghostery keeps removing elements/preventing them to load for trusted Localhost"
### Description

The extension in Firefox is removing a link tag from my page. It doesn't have ads or anything, it is just plain javascript.
I whitelisted localhost:8080 and localhost:9001 (webpack server), but the only way to get that script tag load is to pause Ghostery.
Interestingly it removes also the CSS link. I have no reference in my page for the word **listCollectionBottom--mobile-v2** an

[2020-03-23 20:27] dennisenderink commented on #514
No errors.

At what point do you want the results of this command? Before or after the cookie has been destroyed
or both? What exactly do you want me/us to return from the results?

[2020-03-24 08:15] remusao commented on #515
Hi @JorgeSivil and thanks a lot for taking the time to open this issue,

May I ask you to try and disable only "advanced adblocking" instead of pausing Ghostery completely? I'd like to know if the issue comes specifically from the adblocker component (that is my guess for now).

Would you maybe be able to share a minimal HTML page which I can use on my side to reproduce this issue?

Last not least

[2020-03-24 10:20] sammacbeth commented on #514
On the page visit when you get logged out, if you could provide the result for the active tab, that may point to what is going wrong. If you would rather share this information privately you can contact Ghostery support and ask them to forward it to me. Thanks!

[2020-03-24 14:53] sammacbeth commented on #514
One other thing that may help us debug this. Do you have 'Enhanced Anti-tracking', 'Enhanced Adblocking', or 'Smart Blocking' enabled? If so, if you disable them does it fix the issue?

[2020-03-24 15:54] grgnday commented on #339
Hi, wanted to report an issue as this seems like the place to do so. [Rock Paper Shotgun](https://www.rockpapershotgun.com/2020/03/24/half-life-alyx-gordon-freeman/) was asking to turn off ad blocker for some time, but we could just close their popup. Now it seems we can't. I also want to learn if this is considered a paywall...

[2020-03-24 15:58] remusao commented on #339
@grgnday could you tell me which browser you are using at the moment please?

[2020-03-24 16:55] grgnday commented on #339
Firefox 74, the latest stable with Ghostery 8.4.6

[2020-03-24 17:16] remusao commented on #339
@grgnday I see, it seems like this is not happening on the latest version of the adblocker, but on Firefox our latest update has been delayed so it will only be pushed in a few days. Once it's deployed this issue should be resolved.

[2020-03-24 17:21] grgnday commented on #339
@remusao Alright, thanks! Just one thing though, is there a specific reason for Firefox versions to be published after other browsers in general like deploying hotfixes?

[2020-03-24 17:26] remusao commented on #339
The review process is different depending on the browser and in this case we have to make some minor tweaks and submit again for review. This happens sometimes and we do our best to be reactive in such cases. Hopefully this will not take long!

[2020-03-24 18:02] panomaki commented on #514
They are enabled by default on my config (Chromebook, Chrome 80.0.3987 with ghostery 8.4.7). Disabled them, but it doesn't make a difference.

[2020-03-25 13:38] grgnday opened #516 "Discussion: Full Third-Party Cookie Blocking"
### Description
Apple's Safari has started to [fully block third party cookies by default](https://webkit.org/blog/10218/full-third-party-cookie-blocking-and-more/). It is funny because Cliqz did this years ago with their products and called this "a simple approach". Now I don't know how much it will take Firefox or others to follow up but Safari doing it should be able to force the majority of we

[2020-03-25 16:22] sammacbeth commented on #514
Thanks everyone for your contribution on this issue. We have identified a bug in the ghostery code which could intermittently cause some cookies to be reset for sites. We're working on a fix and will try and get it out to you ASAP! I'll update this thread when that happens.

[2020-03-25 17:02] sammacbeth commented on #516
Switching Ghostery to full 3rd party cookie blocking (with some compatibility exceptions) is simple - there is a config option in enhance anti-tracking to do this. I'm not sure we'd be able to turn this on for all users at present because of the amount of sites it breaks. Hopefully Safari's changes will help improve this situation though. We cloud look at exposing this as a setting for users who w

[2020-03-25 18:10] grgnday commented on #516
After Safari's strict change I wonder what Office 365 and others will do. You are probably right saying we should wait and see how it plays out long-term. I doubt Mozilla will stick with their "curated" list after such moves by other "for-profit" companies like Apple and Brave. They could though.

For Ghostery, honestly, I didn't know how these settings would affect other modules. Even though I wo

[2020-03-25 19:32] crisp-tweakers commented on #514
That's great news Sam! Thanks for your efforts :)

[2020-03-26 07:21] grgnday commented on #516
@sammacbeth Quick question then, if I set Firefox to block third party cookies, will that affect Ghostery's heuristics for anti-tracking? (Not talking about cookie blocking obviously but the PII removal.)

[2020-03-26 11:53] sammacbeth commented on #516
No. The unsafe data removal system runs irrespective of cookie setting.

[2020-03-27 07:09] grgnday commented on #516
Hey @sammacbeth, I did set Firefox to block all third party cookies which also broke Ghostery's login functions in the sense that it logged me out from the extension and even if I log in it instantly logs out. You think this is fixable?

[2020-03-27 13:41] christophertino commented on #516
You'll need to set an exception in FF to fix this.  From about:preferences#privacy > Cookies & Site Data > Manage Exceptions > Manage Permissions > Add an "Allow" exception for https://consumerapi.ghostery.com

[2020-03-27 13:54] christophertino commented on #515
There's probably a few things happening here. The first is an issue with Trust Site and localhost:port (#470 as already mentioned) that has been released to all browsers but is still pending review in Firefox. You can check [this comment](https://github.com/ghostery/ghostery-extension/issues/470#issuecomment-572819067) for a temporary workaround.

The listCollectionBottom--mobile-v2 script is most

[2020-03-27 14:13] christophertino commented on #513
This is because Ghostery considers `analytic.gdv.de/matomo.js` to be first party on https://gdv.de/de and https://en.gdv.de/.  By default Ghostery blocks third-party tracking.  You can enable first-party blocking in Settings > General Settings > uncheck "Allow trackers created by site owners".

[2020-03-27 16:26] christophertino commented on #500
If you go to edge://extensions, then at the bottom left turn on Developer Mode. On the top-right you should now see an Update icon.  Ghostery should be at v8.4.7.

[2020-03-27 17:28] simonbrowning opened #519 "Tealium's utag.js is being blocked by Ghostery even when allowed on the site"
### Description

It seems that as of recently Ghostery will now rewrite Tealium's TMS script utag.js and block utag.sync.js by default and even when this is set to "trust on this site".

![image](https://user-images.githubusercontent.com/4973476/77782983-0615ad80-7050-11ea-8e3b-50d8c8b28972.png)

![image](https://user-images.githubusercontent.com/4973476/77783017-129a0600-7050-11ea-9b5f-2f1b5373ef

[2020-03-28 00:24] rfalanga commented on #500
Thank you, @christophertino for your response. I didn't know about being able to go into Developer Mode. Thanks for that! After going into Developer Mode I discovered that I am running Ghostery v8.4.7

[2020-03-31 07:38] grgnday commented on #516
Thanks for your help. Closing the issue for now then. If someone’s gonna take this step first, it should be the browsers anyway.

[2020-03-31 07:38] #516 closed

[2020-03-31 18:04] Haraldson commented on #369
Any progress here? Still seeing this behavior regularly—although not with the `auto` GET parameter, but for imgix hosted images in general.

[2020-03-31 19:39] #514 closed

[2020-04-01 09:45] ygzdrmz commented on #339
I suppose the update still isn't published? I have those warnings on RPS as well.
![Screenshot_2020-04-01 You can be a baby in Mount Blade 2 Bannerlord](https://user-images.githubusercontent.com/62989861/78123341-b00d8500-7416-11ea-896e-f19c8d7bf1cd.png)

[2020-04-01 10:28] remusao commented on #339
@ygzdrmz Unfortunately yes, we are still pending on approval for the AMO store. I double-checked and the issue on this website is fixed on the Chrome version as well as in Cliqz browser so it's just a matter of time until approval now. @christophertino will now better about the latest status of this process.

[2020-04-01 11:11] ygzdrmz commented on #339
Thanks for the quick response. For other browsers though, I want to stick with Firefox (Gecko) so can't really say that I care other than I'm a little sad that Firefox is getting these updates the last and other browsers are all against Mozilla.

[2020-04-01 11:13] grgnday commented on #339
Hey @ygzdrmz, I understand your frustration with the current state of browsers but its funny that you say those to people that work at Ghostery/Cliqz.

I highly doubt they don't care about Firefox since [they have a pretty good relationship with Mozilla](https://blog.mozilla.org/press-uk/2016/08/23/mozilla-makes-strategic-investment-in-cliqz-to-enable-privacy-focused-search-innovation/). They can'

[2020-04-01 11:16] ygzdrmz commented on #339
Wow I didn't know these. Sorry for commenting without knowing. Can I use Ghostery with Cliqz?

[2020-04-01 11:24] remusao commented on #339
@ygzdrmz You can, but keep in mind that the same adblocking and anit-tracking features are also built-in the Cliqz browser, and that the issue with Ghostery not being released to AMO also impacts Cliqz since the extensions you can install are from the same AMO store than Firefox. This means that the adblocker issue might still impact you unless you stick with Cliqz' built-in adblocker and antitrac

[2020-04-01 11:27] ygzdrmz commented on #339
Alright I paused it for now. While waiting for the update it is a good time to try out Cliqz Browser :D

[2020-04-01 13:09] christophertino commented on #339
Just to clarify how our releases work: I push Ghostery updates to Firefox, Chrome, Opera and Edge stores all at the same time. Firefox does an in-depth, manual code review of our releases which generally takes about a week, often longer if they request changes. That's why our FF updates take a bit more time to publish.

[2020-04-01 13:40] christophertino commented on #500
Glad you were able to get the update. Did it fix the pop-up issue?

[2020-04-01 13:53] christophertino commented on #519
I'm not seeing utag.sync.js on that site even with Ghostery paused.  However, I do see that the Ad Blocker is not respecting the site-specific whitelisting of Tealium. When I turn off the ad-blocker (blue stop sign) I see Tealium load. I'll dig into that whitelisting bug to see what's happening.

[2020-04-02 02:05] rfalanga commented on #500
No.

[2020-04-10 16:58] ibrahimBeladi commented on #515
I noticed that it do not take port into account, hence seeing localhost:port is unknown at each reload. Added the url manually through the setting solved my issue.

[2020-04-10 17:17] JorgeSivil commented on #515
I have reinstalled Ghostery and checked for this

Toggling the 3 buttons (Smart blocking, etc) one at a time didn't make any effect. The script was still being blocked from being appended to the DOM.

But the good thing is now Trusting the site works as the script gets loaded correctly.

[2020-04-11 14:53] Zetanova commented on #481
On my chrome it is using 1.5GB, visited only view sites.

any updates on this issue?

[2020-04-11 15:38] christophertino commented on #502
What's strange is that those requests are first-party and shouldn't be affected by Ghostery. Our webRequest pipeline should ignore them.  It's possible that implementing [webRequest.onAuthRequired](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webRequest/onAuthRequired) could help.

[2020-04-11 15:40] christophertino commented on #515
Thanks for the updates.  I'll close this ticket but reach out if you have any other issues.

[2020-04-11 15:40] #515 closed

[2020-04-11 15:42] #513 closed

[2020-04-11 15:45] christophertino commented on #479
Relates to #22

[2020-04-11 15:46] christophertino commented on #448
Relates to #22

[2020-04-11 15:49] #428 closed

[2020-04-11 15:52] #341 closed

[2020-04-11 15:59] christophertino commented on #472
For some reason we're listing `strava.com/activities` as a tracker pattern.  I'll need to look into it further but it may make sense to remove this pattern from the tracker database.  Since this tracker is first-party, if you go to Ghostery settings > General Settings > check 'Allow trackers created by site owners', it should stop the redirect blocking.

[2020-04-11 16:05] #478 closed

[2020-04-11 16:37] christophertino commented on #369
@Haraldson Is the entire image being blocked or are parameters being changed to `ghostery`?

[2020-04-11 17:52] kospl commented on #472
I can confirm "Allow trackers created by site owners" setting checked doesn't prevent this bug.

[2020-04-11 17:59] christophertino commented on #472
Good to know. We'll need to remove this pattern from our end and push an update to the tracker database. In the meantime, you can try two other things.  1) Enable smart blocking (blue light bulb) which should auto-unblock this pattern.  2) In Ghostery menu (top right) > Settings > Global Blocking > search for "Strava" and unblock.

[2020-04-11 18:21] christophertino commented on #43
@tankmann Are you on Chrome as well?

[2020-04-11 18:27] christophertino commented on #481
Can you let me know how much Ghostery is consuming in the Chrome Task Manager vs the Windows Task Manager?

[2020-04-12 07:14] tankmann commented on #43
Yes I'm on Chrome as well.
OSX 10.15.4 (19E287)
MacBook Pro (13-inch, 2018, Four Thunderbolt 3 Ports)
Version 80.0.3987.163 (Official Build) (64-bit)

[2020-04-12 14:29] gilbert-h commented on #481
Just had the same issue. Chrome had it using 3 GB, showed up as ~1.2 GB in Windows task manager. Had less than 10 tabs open, none particularly resource intensive. Windows 10, Chrome 80.0.3987.162, Ghostery 8.4.8

[2020-04-12 15:19] maverick74 commented on #341
Since this is now closed, I'll shoot an off-topic question I could not find the answer to:

Is the new cliqz search engine also open-source?

[2020-04-12 15:26] remusao commented on #341
Hey @maverick74,

By "new cliqz search engine", are you referring to https://beta.cliqz.com/?

[2020-04-12 21:44] maverick74 commented on #341
@remusao yes, I'm referring to that one.

I'm sorry for the (complete) off-topic, but I could not found info about it anywhere

[2020-04-13 09:09] remusao commented on #341
No worries, I simply wanted to make sure I understood your question correctly before attempting an answer. As you know, at Cliqz and Ghostery we believe privacy is a fundamental human right and that's at the core of any technology we build. We have published multiple papers on privacy, given many talks and disclosed responsibly numerous privacy and security vulnerabilities in all major browsers[1]

[2020-04-13 10:43] maverick74 commented on #341
Your answer brings good news but, as an open-source guy, I would love if it was 100% open source.

I believe that in the public eye open-source is what equals private. And beside searx (which is a meta search engine) and gigablast (which is a search engine about which I don't dare to talk about) we have nothing really good, independent, trusty and open-source ( not to mention based on EU ground)

[2020-04-13 11:16] remusao commented on #341
@maverick74 When it comes to search engines, I believe it's important to think about what open-source would mean. Are we talking about opening the data (the index), or the code populating the index, or the core searching logic, or the results ranking algorithms, or the infrastructure running the search, or... There are many things which make a search engine. In the end, I think it's important the

[2020-04-13 12:41] maverick74 commented on #341
I don't think the index would be important to be open.

A small comparison: I would value and I think the important is having "the machine" open, the product is not that important. The "machine" could always produce more product.
Users knowing they can look into the machine freely and check for privacy issues is a way they can get confidence and trust in the machine (even if 99,9% of them would ne

[2020-04-13 13:39] Zetanova commented on #481
@christophertino ghostery has 1.5GB under the Chrome-Task-Manager

[2020-04-14 14:15] #470 closed

[2020-04-14 14:17] christophertino commented on #500
In the popup window, what text are you seeing displayed?

[2020-04-14 16:24] christophertino commented on #481
Can you try manual garbage collection and see if that brings the memory value down?

- Navigate to chrome://extensions/
- Enable developer mode (top right)
- Under Ghostery click "background page" beside Inspect Views
- Click the Memory tab
- Click the trash icon 3 times, waiting ~3 seconds between each click
- Check Chrome task manager to see if any memory is released

I've been generating heap s

[2020-04-14 17:18] katastic commented on #11
I'm still getting this issue in 2020. I'm uninstalling. Sorry.

[2020-04-14 22:58] rfalanga commented on #500
![Annotation 2020-04-14 165634](https://user-images.githubusercontent.com/11872620/79281936-16f85880-7e71-11ea-9fe5-d66ec5513c4c.png)

[2020-04-17 07:25] grgnday commented on #493
@christophertino My suggestion is to just remove the "trust site" button altogether (Pause Ghostery is fine), and like in Cliqz Browser, when you click on the Enhanced Ad Blocking button let it ask if it should apply globally or for the current site. Also, for Anti Tracking and Smart Blocking.

[2020-04-20 09:09] bramdejager commented on #43
Same issue here, I'm running Ghostery for Edge version 8.4.8 on Windows 10. This is the new Edge browser from Microsoft on Chromium.

[2020-04-21 06:18] Zetanova commented on #481
@christophertino Started with 1.2GB memory footprint in the chrome task manager after 5h runtime

JS Heap size was only 20MB and snapshot size too.
The GC only reduced it to 18.5MB

In the chrome task manager the memory footprint is still at 1.2GB and JS memory 25MB (19MB live)

The Chrome task group has in windows task manager 1.7GB memory

[2020-04-22 23:18] JacksonWrath commented on #481
Also seeing this issue lately. Details requested so far:

After a few days use:
Windows Task Manager | RAM
----------------- | -----------------
Chrome Total Usage | 2.1 GB
Ghostery PID Usage | 808 MB

Chrome Task Manager | RAM
--------------- | ----------------
Ghostery | 1.3 GB

Ghostery is the top process by more than 100%. Next step down from there was a tab using about 376 MB (windows reporte

[2020-04-29 12:42] bmblb opened #539 "Uncaught TypeError: Cannot read property 'getManifest' of undefined"
##### Please read the [CONTRIBUTING](https://github.com/ghostery/ghostery-extension/blob/master/CONTRIBUTING.md) guide before submitting an issue.

### Description
Getting this exceptions on some pages:
[code]
No runtime? Please add a check?
![image](https://user-images.githubusercontent.com/45400762/80597074-037fec80-8a30-11ea-951b-416e933556e0.png)

[Description of the bug or feature]

### Expec

[2020-05-02 10:06] renuac opened #542 "##### Please read the [CONTRIBUTING](https://github.com/ghostery/ghostery-extension/blob/master/CONTRIBUTING.md) guide before submitting an issue. ### Description [Description of the bug or feature] ### Expected Behavior [What you expected to happen] ### Actual Behavior [What actually happened] ### Steps to Reproduce 1. [First Step] 2. [Second Step] 3. [and so on...] ### Versions + Browser: + OS: + Node: + NPM:"
##### Please read the [CONTRIBUTING](https://github.com/ghostery/ghostery-extension/blob/master/CONTRIBUTING.md) guide before submitting an issue.

### Description

[Description of the bug or feature]

### Expected Behavior

[What you expected to happen]

### Actual Behavior

[What actually happened]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

### Versions

+ Brows

[2020-05-02 15:59] meuslaur opened #543 "The 'purple box' is animated with CSS animation"
##### Please read the [CONTRIBUTING](https://github.com/ghostery/ghostery-extension/blob/master/CONTRIBUTING.md) guide before submitting an issue.

### Description

The 'purple box' causes display bugs, during CSS animation.
if I use a class on the div, the 'purple box' appears, but does not come alive

### Expected Behavior
no animation of the 'purple box'

### Actual Behavior
the 'purple box' co

[2020-05-02 18:06] #543 closed

[2020-05-06 11:53] tankmann commented on #43
Ping Pong?

[2020-05-06 14:08] suederade commented on #481
Here is some data from Chrome Task Manager and Activity Monitor. I also took a sample from Activity Monitor.

Activity Monitor | Memory
-- | --
Base Process | 2.3 GB
Real Memory Size | 1.6 GB
Virtual Memory Size | 25.04 GB
Shared Memory Size | 73.9 MB
Private Memory Size | 1.5 GB

Chrome Task Manager | RAM
-- | --
Ghostery | 2.2 GB

https://drive.google.com/file/d/1GCBCFa3ZxbS6KFRSYshSSFChdQ06UvGz

[2020-05-08 18:00] #519 closed

[2020-05-13 09:19] BennoG commented on #500
version 8.5.0 same popup as above every time I start chrome.
![image](https://user-images.githubusercontent.com/12594062/81794312-e4db2480-950a-11ea-930d-3e2938f4af66.png)

Also clear the settings with arrows (that should prevent this) are not saved after close and reopen chrome.

[2020-05-14 18:52] BonesyWonesy commented on #86
I'm running in to this issue as well. My solution was to remove Ghostery.   Formatted JSON is more important to me that what Ghostery provides.

[2020-05-18 14:22] ghost opened #550 "Feature Request: Smart Blocking should not block live chat widgets in the middle of using them"
### Description
It's pretty annoying that Ghostery's smart blocking is blocking live chat widgets in the first place since they have their own category and if the user wants to they can pretty much block them easily. Plus there is (at this time) tracking protection which is pretty powerful tool that could stop PII leaks. If Ghostery will block these maybe it should do it immediately as waiting unt

[2020-05-18 14:32] BennoG commented on #500
For some reason the popup stopped after a couple of day's  still at version 8.5.0 so there was no update involved.

[2020-05-18 16:11] yokoffing commented on #505
I've implementing DNS-level blocking since I've posted this issue. I'm unsure if it's blocking the video now or if it's Ghostery's new Annoyance option, but this is no longer an issue for me when I use Ghostery.

[2020-05-18 16:11] #505 closed

[2020-05-18 16:43] yokoffing commented on #504
Every since Ghostery added the Annoyance option (#527 ), this is no longer an issue. Thank you for finally implementing this! I've noticed a great many adblock blockers / notices and pop-ups since the update.

In the future, it would also be nice to be able to block social media widgets on page as the part of "annoyances." Outside of this, the web is much more usable with the annoyance feature imp

[2020-05-18 16:43] #504 closed

[2020-05-19 16:26] yokoffing commented on #493
I think this is a fantastic suggestion!

[2020-05-20 12:01] gurgunday opened #554 "Ghostery seems to be missing Branch.io"
### Description
When I visit Udemy or Twitter I don't see Ghostery detecting Branch Metrics. URLs such as "app.link
"api.branch.io" are firing and not being detected by Ghostery.

### Expected Behavior

Ghostery should detect them and block them if it is configured to do so.

### Actual Behavior

Only tracking protection shows up and blocks a few cookies of branch.io

### Steps to Reproduce

1. Vi

[2020-05-21 10:35] kospl commented on #472
Still reproducable in Ghostery for Chrome version 8.5.0

Workaround is to open Ghostery popup while on editing page and select "Trust on this site" for Strava tracker.

[2020-05-21 11:24] BrokenShoeLace opened #556 "Homepage Blocking"
I use

https://uk.news.yahoo.com/uk/

as my homepage with for my desktop and android phone. On both platforms, I need to reload the page in order for ghostery to block and ads. Have set restricted page.

Broswer: Firefox (always latest versions)

Is this a bug?

[2020-05-25 15:56] max06 opened #557 "XHR requests broken after uninstall of ghostery. WTF?!"
Hello folks,

I noticed a high memory consumption and cpu usage in my vivaldi (chrome), originating from your extension. I killed it and disabled it, right after that many xhr-requests stopped working. Even an uninstall and browser restart didn't fix that.

To verify that issue I tried the same in a regular chrome, same results.

Example: fast.com (speedtest) - I can't even upload a damn screensho

[2020-05-25 16:16] gurgunday commented on #556
When you launch your browser, Ghostery doesn’t start immediately. If you look carefully it warms up for a split second which usually results in it missing some ads. Maybe that could be your problem?

[2020-05-26 09:16] BrokenShoeLace commented on #556
Yeah, that sounds about right.

Thank you for your reply

[2020-05-26 09:16] #556 closed

[2020-05-26 11:15] #557 closed

[2020-05-26 15:11] yokoffing opened #558 "Annoyance Request: Washington Post"
### Description
For those of us using **Ads + Trackers + Annoyances**:
Banner at the bottom of the screen takes up half the page upon scrolling.

### Steps to Reproduce

1. Go to `https://www.washingtonpost.com/nation/2020/05/26/amy-cooper-central-park/`
2. Scroll down.
3. https://postimg.cc/gallery/N5DFH8D

[2020-05-28 14:27] gurgunday commented on #558
I’m really not sure but they’re probably using Fanboy’s Annoyances list. I can’t check atm but if that’s the case reporting it there could be better.

[2020-05-28 14:28] gurgunday commented on #554
Also reported it via the extension (not really sure how much that works but did it anyway)

[2020-05-30 01:12] steveluscher opened #560 "Possible false positive with Adobe Test & Target rule (Facebook CDN)"
### Description

I have received a report of Ghostery blocking this resource. The block was made according to the ‘Adobe Test & Target’ rule:

[code]

This is a resource from the Facebook CDN that, like many others like it, is critical for the operation of the website. Do you see anything about that file or that URL that would trigger that rule, and do you believe this to be a false positive that

[2020-06-02 13:35] ghost opened #561 "why can't ghostery simply work offline and only optionally connect online"
### Description

I am using last version of ghostery in chrome, and in firefox. Ghostery frequently to rarely contacts some of its servers to do something in the background. I verified this via Proxifier and via HTTP Debugger apps seperately. I opted out of all updates, tracking, sharing data etc. I also disabled enhanced ad blocking, enhanced anti tracking, and smart blocking, meaning all those 3

[2020-06-02 14:42] yokoffing commented on #558
To my knowledge, Ghostery has not disclosed how they are blocking annoyances.

[2020-06-02 19:09] rsabec opened #562 "Ghostery Chrome Extension blocks Tealium utag.js with 'Add Blocker' feature even though listed in 'Essential' category. Files used as dependency and causes undefined errors"
##### Please read the [CONTRIBUTING](https://github.com/ghostery/ghostery-extension/blob/master/CONTRIBUTING.md) guide before submitting an issue.

### Description

Ghostery Version 8.5.0 is applying 'Add Blocker' to the loading of utag.js and utag.sync.js files.  This is a tag management api platform and not directly an 'advertiser' vendor.   Site will use these files as a dependencies that page

[2020-06-02 19:21] rsabec commented on #519
This issue is still occurring in Ghostery version 8.5.1 - created new issue #562 - These files are routinely used as a dependency on site and will cause undefined errors on the page.

[2020-06-06 02:45] angelhair0 opened #565 "The add-on could not be downloaded because of a connection error (Firefox)"
##### Please read the [CONTRIBUTING](https://github.com/ghostery/ghostery-extension/blob/master/CONTRIBUTING.md) guide before submitting an issue.

### Description

When installing for Firefox, the extension downloads fully, and upon installation an Firefox error says "The add-on could not be downloaded because of a connection error"

### Expected Behavior

I expected the extension to successfully

[2020-06-08 10:46] izedamo commented on #86
I have also been facing this same issue since a long time.

[2020-06-25 20:00] acicali opened #570 "Ghostery renders reCAPTCHA incapacitated"
##### Please read the [CONTRIBUTING](https://github.com/ghostery/ghostery-extension/blob/master/CONTRIBUTING.md) guide before submitting an issue.

### Description

Ghostery is blocking Google's reCAPTCHA on all websites

### Expected Behavior

Google's reCAPTCHA is a necessary evil for using many services. It is expected that it continues to function as usual.

### Actual Behavior

Google's reCAP

[2020-06-26 14:49] christophertino commented on #558
@remusao could you provide some insight here?

[2020-06-26 16:03] christophertino commented on #565
If you're attempting to load a Ghostery build from a GitHub release, you'll need to load it as a temporary add-on with [about:debugging](about:debugging#/runtime/this-firefox). Otherwise you have to install from the [Firefox store](https://addons.mozilla.org/en-US/firefox/addon/ghostery/).

[2020-06-26 16:43] christophertino commented on #562
The ad-blocker is catching `tags.tiqcdn.com` from one of its lists (Peter Lowe's Server List). Even though Tealium is unblocked under Essential, that is only a pass-through action and patterns can still be caught by the ad-blocker.  This would be another case for a global allow function (see #148).

In the meantime, the best solution I can offer would be to either Trust the entire site, or hover o

[2020-06-26 17:18] christophertino commented on #560
This looks like a false positive. Adobe Target uses something called `mbox` which we are catching in your Facebook CDN pattern. I'll get this cleaned up on our end. Thanks for reporting.

[2020-06-26 17:19] christophertino commented on #554
Thanks for reporting.  I'll get this one added to the DB.

[2020-06-26 17:37] christophertino commented on #539
This may be a known issue on Chrome, see [this response](https://stackoverflow.com/a/44251624). Regardless, it might make sense to pull logging from our content script files anyway.

[2020-06-27 00:07] steveluscher commented on #560
That's great news; thank you!

[2020-06-27 09:41] remusao commented on #558
Hey, sorry for the delayed answer.

In a nutshell, Ghostery uses a mix of community-driven lists such as uBlock Origin annoyances or EasyList cookie, as well as some custom filters. We do not use Fanboy's annnoyances list at the moment, though.

@yokoffing Regarding the banner on washingtonpost.com, I have created a custom rule to handle it, it will be deployed to users before tomorrow.

Best,

[2020-06-29 13:03] christophertino commented on #570
We've pushed a library update from our end to fix this issue. Can you double check and make sure that it's working now?

[2020-06-29 19:43] acicali commented on #570
Seems to have done the trick - thanks @christophertino!

[2020-06-30 11:48] yokoffing commented on #558
@remusao, I always appreciate your insights on here and when I do run into you on Reddit!

As of the time me writing this, the banner still isn't blocked. I can check again in a few days.

[2020-06-30 12:16] remusao commented on #558
Hey @yokoffing,

I checked and could reproduce that it does not work. It seems like there is a bug in the Ghostery extension source code (actually a typo), which breaks the selection of the custom presets from Ghostery... I already reached out to @christophertino to try and fix this ASAP. In the meanwhile, if you'd like to make it work on your side, you can open a debug console for the Ghostery ex

[2020-06-30 12:45] yokoffing commented on #558
@remusao, will this require a hard update to fix (e.g., Ghostery 8.5.1a or 8.5.2)?

This works for me! The banner isn't on `https://www.washingtonpost.com/business/2020/06/30/paycheck-protection-program/`.

For Chrome, does entering `CLIQZ.prefs.set('cliqz_adb_mode', 2)` last perpetually or is this something I'd have to do every time I restart my browser? Also, does this setting get erased if I tu

[2020-06-30 12:48] remusao commented on #558
Most likely yes. But the fix is very small so this could happen quickly if we move soon (@christophertino will know more about that).

This is persisted across restarts.

No it will persist as well.

If you want to change between presets you can use the following:

* Switch to *ads only*: `CLIQZ.prefs.set('cliqz_adb_mode', 0)`
* Switch to *ads + trackers*: `CLIQZ.prefs.set('cliqz_adb_mode', 1)`
*

[2020-06-30 12:50] yokoffing opened #572 "Feature Request: Hide Social Media Widgets with cosmetic filters"
I would propose we do one of two options:

1) Under "Ad Block Lists", add a fourth option: **Ads + Tracking + Annoyances + Social Media Widgets**. As far as community lists go, we could use Fanboy's Social List, AdGuard Social Media, and [Dandelion Sprout's Lightweight Anti-'Social share' List](https://github.com/DandelionSprout/adfilt/blob/master/SocialShareList.txt).

2) The alternative could be

[2020-06-30 13:28] #570 closed

[2020-06-30 13:53] denyeo commented on #258
Just ran into this bug - replacing `http` with `https` naively is a bad practice that breaks content silently. Web servers simply don't always offer HTTPS - and in our case, our S3 bucket's HTTPS isn't working, so we had to use HTTP. Firefox already handles this with an "insecure" icon. I ended up troubleshooting for an hour before finding the problem, and I even checked Ghostery's settings to mak

[2020-06-30 14:52] yokoffing opened #573 "Breakage: Complex.com"
### Description

Blocking "Complex Media Network" in the Advertising category prevents `https://www.complex.com` from loading properly. `https://www.complex.com/pop-culture/2020/06/seth-rogen-issues-rips-those-criticizing-his-black-lives-matter-instagram-post`

### Expected Behavior
 `https://www.complex.com`

![unblocked 2](https://user-images.githubusercontent.com/11689349/86140673-1742e000-babf

[2020-06-30 16:15] rsabec commented on #562
Hi Christopher - I would like to have more context or understanding on why you have listed a 'tag manager' as as 'advertiser'.  I noticed that similar API management platforms such as Google Tag Manager or Adobe DTM are not blocked by the same 'Advertiser' filter.  In these other Tag Manager vendors you have chosen to block the individual tags loading and not the manager entirely.  Why are you cla

[2020-06-30 18:18] tankmann commented on #43
I've cancelled my subscription now... Had enough of being logged out all the time plus no reaction here.
Bye.

[2020-07-01 14:03] ghost opened #575 "Consider incoporating DuckDuckGo new tracker radar data into Ghostery blocklists"
##### Please read the [CONTRIBUTING](https://github.com/ghostery/ghostery-extension/blob/master/CONTRIBUTING.md) guide before submitting an issue.

### Description

[Description of the bug or feature]

DuckDuckGo latest web crawler can find new trackers quite well. I already opened issues at AdGuard, EasyList and Disconnect

https://github.com/AdguardTeam/AdguardFilters/issues/58396

https://githu

[2020-07-04 10:20] kospl opened #578 "Images on Google My Maps are not loading"
### Description

When Ghostery activated, images on custom Google My Maps are not loaded because of HTTP 400 error.

Network debugger shows next redirects:
`https://doc-08-ao-mymaps.googleusercontent.com/untrusted/hostedimage/67ht0gn364521qiheeia79564g/bdrpki2n3r44tr21p85bik0o6s/1593856800000/N-EfLdaSoKzXTNQ73EyhZJIKbix9rfOj/*/6AF2TALoEion93iHNuEQPr5ZAO-GVoe6nSSBlrS0i2YCpnDVEaalIlBXqy9pitWRrxicbcn

[2020-07-07 12:44] christophertino commented on #578
Thanks for reporting. We've identified the issue and pushed an update to our anti-tracking lists. You should see this resolved in the next 24hrs.

[2020-07-07 13:37] yokoffing commented on #575
@a-privacy-conscious-user, can you link where Apple said that they're using DDG as the basis for their tracker blocker in Safari? I have heard others say this, but I haven't actually looked at where Apple disclosed this.

@remusao & @christophertino: Just as an FYI, the Vivaldi browser also incorporates the DDG tracker blocker. I have the URL to the list that they use `https://downloads.vivaldi.co

[2020-07-07 13:43] a-privacy-conscious-user commented on #575
Sure! I posted a twitter link where DuckDuckGo themselves say it. In addition I have the beta software where Safari in the UI in the privacy report says it themselves too. You can also see the screenshot in the tweet I posted

![Screen Shot 2020-07-07 at 10 41 09](https://user-images.githubusercontent.com/67610240/86790169-7912c500-c03e-11ea-9503-32baaa344a9b.png)

I`d like to point out that they

[2020-07-07 13:44] a-privacy-conscious-user commented on #575
The Vivaldi browser DOES use DuckDuckGo data to BLOCK trackers/ads

[2020-07-07 13:45] a-privacy-conscious-user commented on #575
I would also like to link to this reply from AdGuard CTO on this subject because I believe it is something to consider https://github.com/AdguardTeam/AdguardFilters/issues/58396#issuecomment-654655433

[2020-07-07 13:48] a-privacy-conscious-user opened #579 "Ghostery is not blocking an element on this website"
##### Please read the [CONTRIBUTING](https://github.com/ghostery/ghostery-extension/blob/master/CONTRIBUTING.md) guide before submitting an issue.

### Description

[Description of the bug or feature]

There is a message not being blocked by Ghostery on this website ```https://lanacion.com.ar```

### Expected Behavior

[What you expected to happen]

I have enabled ghostery annoyances filter and is

[2020-07-07 13:49] yokoffing commented on #575
Ah. Thank you!

[2020-07-09 15:18] yokoffing commented on #573
We don't need to remove "Complex Media Network" in the Advertising category. But I am suggesting we had one of those notifications that alert the user that this tracker needs to be enabled for the site to work properly.

[2020-07-13 09:22] kospl commented on #578
Checked, it still fails loading the images after repeating "Steps to Reproduce".

[2020-07-16 15:47] AndyTallack opened #581 "Ghostery modifying access_token to mapbox"
Following this discussion - https://github.com/mapbox/mapbox-gl-js/issues/8894#issuecomment-612212791 - it appears that Ghostery is again modifying requests to Mapbox and replacing the access_token with "ghostery"

You indicated you would whitelist the API - would be great if you could check this.

If I disable Ghostery completely, or turn off the Anti-Tracking, the map renders correctly.

If not,

[2020-07-20 09:21] MarkoSulamagi opened #584 "Ghostery is blocking reCAPTCHA v3 API key in Chrome"
### Description

Ghostery blocks [reCAPTCHA v3](https://developers.google.com/recaptcha/docs/v3) API key in Chrome. This only happens with **one specific API key** and only **on my own Chrome browser**. This leads me to think there's some kind of learning algorithm in Ghostery and given enough time/traffic the block will appear for other people/API keys eventually as well.

If I change the Site Ke

[2020-07-23 20:08] macOneOone commented on #481
Yeah, how that hell happen to a single extension produce 2GB of RAM.
![ghost](https://user-images.githubusercontent.com/16170629/88333747-a5aa2a80-cd28-11ea-997e-b7dbaa8383a1.png)

[2020-07-31 15:17] #558 closed

[2020-08-03 17:49] yokoffing opened #590 "[First-party Fingerprinting] Github tracker not blocked?"
### Description

Tracker: `collector.githubapp.com`. (Edit: also `api.github.com/_private/browser/stats`)

EasyPrivacy and AdGuard Tracking Protection, plus other lists, all block this. Why isn't Ghostery?

"Allow trackers created by site owners" is switched off in my configuration. Does Ghostery still not block first-party fingerprinting even with this setting turned off?

### Expected Behavior

[2020-08-06 00:47] yokoffing commented on #590
Ghostery is blocking this tracker on my Firefox Developer build but not in Stable. However, I have more about:config preferences changed in Stable, and I suspect this is causing the issue.

[2020-08-06 00:47] #590 closed

[2020-08-06 20:49] yokoffing opened #591 ""Unknown Trackers" not blocked on most Firefox profiles"
### Description

Ghostery for Firefox is not blocking some "unknown" trackers. I am not sure where to look or how to download logs from the Ghostery extension to determine why.

Only one of five of my Firefox builds detects and blocks the unknown trackers. Turning off Firefox's "Enhanced Tracking Protection" doesn't change behavior.

"Allow trackers created by site owners" is unchecked on all my G

[2020-08-06 23:49] yokoffing commented on #591
UPDATE: After a few hours of tinkering, I repeated [the steps](https://github.com/ghostery/ghostery-extension/issues/558#issuecomment-651754192) @remusao gave me for #558 . This solved my issues with unknown trackers not appearing.

Issue #558 is incorporated into Ghostery 8.5.2, but the Firefox add-ons site still hasn't updated from 8.5.1.

I will check on this again when Firefox approves 8.5.2

[2020-08-08 13:38] christophertino commented on #581
@AndyTallack could you send us the site URL where this is happening so we can take a look?

[2020-08-08 13:53] #565 closed

[2020-08-08 13:56] christophertino commented on #579
This should be fixed now in v8.5.2, which is live on Chrome, Opera and Edge, and pending review in Firefox.  This was related to #558 and fixed in https://github.com/ghostery/ghostery-extension/commit/415b4cbcbd5439856d736516306bce12f826c299

[2020-08-08 13:56] #579 closed

[2020-08-09 15:58] yokoffing opened #592 "FEATURE REQUEST: Block "Download Browser" Prompts in Annoyances"
### Description

Browser download prompts have been a nuisance for [a few years now](https://steakscience.com/why_is_microsoft_pushing_edge_so_aggressively/) and have only [ramped up](https://www.windowslatest.com/2020/04/23/microsoft-edge-outlook-ad/) on Microsoft and Google sites. (In fact, you may recall that Google went so far as to [scare Edge users](https://www.windowslatest.com/2020/02/20/m

[2020-08-09 22:46] mdnahas commented on #481
I am a casual user of Ghostery (but one with advanced degrees of CS) and I'm seeing extremely high memory usage.  I wouldn't post here, except I saw that the issue was already open.

When I enable Ghostery, the virtual memory used by Firefox's WebExtensions process jumps above 14gb.   When I disable Ghostery, it drops below 1gb.  I found the issue because I was getting lag and Firefox's Memory Rep

[2020-08-10 20:45] christophertino commented on #481
@mdnahas If you're able to run some performance diagnostics it would be helpful. Unfortunately, FF doesn't allow memory snapshots for extensions the same way that Chrome does.  But you can create a performance allocation profile that may be able to show some abnormal memory allocations taking place.

- Visit about:debugging#/runtime/this-firefox
- Click "Inspect" next to Ghostery
- In the toolbox

[2020-08-10 20:51] christophertino commented on #584
We pushed an Anti-Tracking whitelist update for this issue a little while back. Can you let us know if you're still seeing the API key scrubbed?

[2020-08-10 20:59] christophertino commented on #578
The images appear to be loading fine for me now on FF and Chrome.  I see `&fife=s16383` in the image path and a 200 response.

[2020-08-10 21:04] kospl commented on #578
@christophertino yes, now it's working, thanks!

[2020-08-10 21:04] #578 closed

[2020-08-11 08:00] MarkoSulamagi commented on #584
@christophertino, it seems to be working nicely for me now :+1:
Hopefully, the whitelist update fixed it and it wasn't due to some cache clearing result. I'll close the issue and re-open if it should come back.

Thanks :)

[2020-08-11 08:00] #584 closed

[2020-08-11 15:20] mdnahas commented on #481
Ghostery support ("Sloane") contacted me.  They had me update my version of Ghostery and other add-ons, etc.

After doing that, I did some more investigation.  Both Ghostery and HTTPS Everywhere are both allocating about 6.3GB of virtual memory when enabled.  (As measured by the WebExtensions process in the "top" program.)  The other extensions that I use don't do that.  (Those extensions are Disc

[2020-08-11 16:57] christophertino commented on #481
Thanks for that profile. I was seeing something similar on my end around `_scheduleNextTick`.  Could you check one more thing:

- Visit about:debugging#/runtime/this-firefox
- Click "Inspect" next to Ghostery
- In the toolbox window select the Console tab
- Enter `CLIQZ.services.pacemaker.api` and look at the size of the `tasks` object. On my machine the size is 29.

And then let's try turning off

[2020-08-12 15:49] mdnahas commented on #481
CLIQZ.services.pacemaker.api
Object { freq: 1000, timer: 175567, tasks: Set(30) }

At the moment, I'm not sure there is a memory leak.  It takes up 6GB of RAM right away when enabled.  A leak takes time.

I'm hesitant to "break things" when I'm not sure what I'm turning off and don't know how to turn it on and don't know what the lasting effects are.

[2020-08-13 14:15] christophertino commented on #481
Pacemaker is just used to schedule timeouts. It will restart when you restart the browser. But I understand if you are hesitant to turn it off.

Here's an open Bugzilla ticket that seems to be related: [Very high virtual memory usage in the WebExtensions process on Linux](https://bugzilla.mozilla.org/show_bug.cgi?id=1615988)